{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
<meta name="title" content="{{ project.title }}">
<meta name="description" content="{{ blog.meta_description }}">
<style media="screen">
  .bs > img {
    width: 100%;
  }
  @media only screen and (max-width: 772px) {
    .bs > img {
      width: 100%;
      padding-top: 3rem;
      border-radius: 0 0 4rem 0;
    }
  }
</style>

{% endblock %}

{% block navbar %}
{% endblock %}


{% block body %}
<div class="mbs">
  <div class="container">
    <div class="blogpost">
      <h1>{{ project.title }}</h1>
      <p>{{ project.lead_paragraph }}</p>
      <img src="{{ project.image.url }}" alt="">
      <h2>Pressetext:</h2>
      {{ project.description | safe }}
    </div>
    {% if events %}
    <h2>Kommende Konzerte</h2>
      {% for event in events %}
      <div class="event-container">
        <div class="mks-event-date">
          <h3>{{ event.get_date_presentation }}</h3>
        </div>
        <div class="mks-event-title">
          <h3>{{ event.name }}</h3>
        </div>
        <div class="mks-event-time">
          <p>{{ event.get_time_presentation }}</p>
        </div>
        <div class="mks-event-venue">
          <p>{{ event.venue }}</p>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    {% if project.youtube_id_one %}
    <div class="youtube">
      <h2>Musikalische Referenzen</h2>
      <div class="youtube-grid">
        <iframe src="https://www.youtube.com/embed/{{ project.youtube_id_one }}"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      <iframe src="https://www.youtube.com/embed/{{ project.youtube_id_two }}"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    </div>
  </div>
  {% endif %}


</div>

</div>

</div>
{% endblock %}
{% block footer %}

{% endblock %}
