{% load i18n static %}
{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  {% if name %}
  <title>{{ name }}</title>
  {% endif %}
  <!-- Viewport Settings -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  {% include "templates/favicon.html" %}
  <!-- critical CSS -->

  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <!-- CSS-->
  <link href="{% static 'css/mks/mks_v2.4.1.css' %}" rel="stylesheet" type="text/css" />

  {% if user.is_authenticated %}
  {% include "templates/user_navbar.html" %}
  {% else %}
  {% include "templates/navbar.html" %}
  {% endif %}


  {% block navbar %}
  {% endblock %}
  {% if user.is_authenticated %}
  <div class="bs">
  {% else %}
  <div class="bs">
  {% endif %}
    {% block banner %}
    {% endblock%}
  </div>
  {% block body %}
  {% endblock %}


  <div class="bf">
    {% include "templates/footer.html" %}
  </div>

  <div id="cookie-consent">
    <p>Wir nutzen Cookies auf unserer Website dazu unser Angebot für unsere Benutzer übersichtlich und zielgerichtet zu gestalten. Dazu zählen unter anderem die Möglichkeit sich über Kontaktformulare mit uns in Verbindung zu setzen, unverbindliche Voranmmeldungen für die angebotenen Unterrichtsfächer zu senden sowie die Zugriffe auf unserer Webseite zu analysieren.
      Alle Informationen im Detail entnehmen Sie bitte unserem Impressum. <a href="{% url 'impressum'%}">Mehr dazu erfahren</a><a href="" onclick="setCookie('cookieConsent', 1, 365)"><button>Verstanden</button></a> </p> 
  </div>
  {% block footer %}
  {% endblock %}

  <!-- MKS Nav Script -->
<script type="text/javascript">
    function openNav() {
        document.getElementById("mks-nav-mobile-menu").style.width = "100vw";
        document.getElementById("menuIcon").style.visibility = "hidden";
        document.getElementById("closeMobileMenu").style.display = "flex";
    }

    function closeNav() {
      document.getElementById("mks-nav-mobile-menu").style.width = "0%";
      document.getElementById("menuIcon").style.visibility = "visible";
      document.getElementById("closeMobileMenu").style.display = "none";
    }

    // RELOADS WEBPAGE WHEN MOBILE ORIENTATION CHANGES
    window.onorientationchange = function() {
      var orientation = window.orientation;
      switch(orientation) {
        case 0:
        case 90:
        case -90: window.location.reload();
        break; }
    };
</script>

<!-- Cookie Script -->
<script type="text/javascript">
  function setCookie(key, value, expiry) {
      var expires = new Date();
      expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
      document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
  }

  function getCookie(key) {
      var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
      return keyValue ? keyValue[2] : null;
  }

  function eraseCookie(key) {
      var keyValue = getCookie(key);
      setCookie(key, keyValue, '-1');
  }
  if (getCookie('cookieConsent') == null) {
      document.getElementById('cookie-consent').style.display = 'block'
      document.getElementById('cookie-consent').style.position = 'fixed';
;
  } 
</script>

</body>
</body>
</html>
