{% load i18n static %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MKS</title>
  <!-- write your code here -->

  <!-- CSS -->
  <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" media="screen">
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">



  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <!-- Fav -->
  <link rel="icon" href="{% static "favicon/blessondfav.ico" %}"/>

  <!-- JQuery Ajax --->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

  <!-- Blessond Nav Script -->
  <script type="text/javascript" src="{% static "js/blessond.js" %}"></script>


  {% block extra_head %}
  {% endblock %}
</head>

<body>
    <!-- NAV -->
    <header>
      <div class="nvb">
        <div class="bnbs">
          <div class="bls">
            <a href="{% url 'home_view' %}">
            <img src="{% static "media/nav/blessond-logo.svg" %}" alt="blessond logo navbar"
            href="#">
            </a>
          </div>
          {% if user.is_authenticated %}
          <div class="bun">
            <ul>
              <li><a href="#">Hallo, {{ request.user }}</a></li>
              <li><a href="/teaching/calendar">Calendar</a></li>
              <li><a href="/teaching/allstudents">Students</a></li>
              <li><a href="/controlling/events">Controlling</a></li>
              <li><a href="#">Hilfe</a></li>
            </ul>
          </div>
          {% endif %}
          <div class="bns">
            <div class="drops">
              <div class="dropdown arrow">
                <button class="dropbtn">Unterricht</button>
                <div class="dropdown-content">
                </div>
              </div>
              <div class="dropdown-b arrow">
                <button class="dropbtn-b">Online</button>
                <div class="dropdown-content-b">
                </div>
              </div>
              <div class="dropdown-c arrow">
                <button class="dropbtn-c">Blog</button>
                <div class="dropdown-content-c">
                  <a href="{% url 'blog_guitar_summary' %}">Gitarre</a>
                </div>
              </div>
              <div class="dropdown-d arrow">
                <button class="dropbtn-d">Über</button>
                <div class="dropdown-content-d">
                  <a href="{% url 'contact_email' %}">Kontakt</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Mobile Nav -->

        <div id="blessondNavMobile" class="menu">
          <div>
            <span id="menuIcon" onclick="openNav()">
              <img id="mobileHamburger" onclick="openNav()" src="{% static "media/nav/mobile/hamburger_mobile.png" %}" alt="mobile Hamburger icon">
              Menü
            </span>
            </div>
            <div id="mobileLogo"><a href="{% url 'home_view' %}"><img src="{% static "media/nav/mobile/mobile_logo.svg" %}" alt="mobile blessond logo"></a></div>

            <div><a id="closeMobileMenu" href="javascript:void(0)" class="closebtn" onclick="closeNav()">
              <img id="closemobleHamburger" src="{% static "media/nav/mobile/hamburger_mobile_active.png" %}" alt="mobile Hamburger icon">Menü</a></div>
            </div>
            <div id="blessondNavMobileMenu" class="overlay">
              <div class="overlay-content">

                <a class="mainHeadingMobile" href="#">Unterricht</a>
                <a class="mainHeadingMobile" href="#">Online</a>
                <a class="mainHeadingMobile" href="#">Blog</a>
                <a class="categoryHeadingMobileNoCursor" href="{% url 'blog_guitar_summary' %}">Gitarre</a>
                <a class="mainHeadingMobile" href="#">Über</a>
                <a class="categoryHeadingMobileNoCursor" href="{% url 'contact_email' %}">Kontakt</a>
              </div>
            </div>
          </div>

        </header>


        {% block navbar %}
        {% endblock %}

        <div class="bs">
        {% block banner %}
        {% endblock%}
        </div>
        {% block body %}
        {% endblock %}

      </div>

      <div class="bf">
        <!--Footer Grid Section -->
        <div class="bfsc">
          <div class="fbls">
            <img src="{% static "media/footer/logo_footer.svg" %}" alt="Footer Logo Blessond">
          </div>
          <div class="bcls">

          </div>
          <div class="bscmbs">
            <img src="{% static "media/footer/yt_icon_footer.jpg" %}" alt="Footer Youtube Channel Icon">
            <img src="{% static "media/footer/fb_icon_footer.jpg" %}" alt="Footer Facebook Account Icon">
            <img src="{% static "media/footer/insta_icon_footer.jpg" %}" alt="Footer Instagram Channel Icon">
          </div>
          <div class="bcrs">

          </div>
          <div class="cbsf">
            © {% now "Y" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

{% block footer %}
{% endblock %}
