{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Honorarnote Nr: {{ invoice_id }}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">

  <!-- Bills CSS -->
  <link rel="stylesheet" href="{% static "css/bills.css" %}" type="text/css" media="screen">
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">


  <!-- Font Alegreya Sans -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">

</head>

{% block head %}
{% endblock %}

<body>
  <div class="container">
    <br>
    <div class="row">
      <div class="col adress">
        <p>
          {{ customer_name }} <br>
          {{ street_name }} <br>
          {{ postal_code }} {{ city }}<br>
          {{ customer_mail }} <br>
        </p>
      </div>
      <div class="col adress">
        <p>
          Gitarrenschule.tv e.U. <br>
          Lukas Schönsgibl, BA <br>
          Wiener Neustädterstrasse 34a/5 <br>
          A-2483 Ebreichsdorf <br>
          service@gitarrenschule.at <br>
        </p>

      </div>
    </div>
  </div>
  {% block extra_head %}
  {% endblock %}
  <div class="container">
    <p></p>
    <div class="h-divider">
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col heading">
        <br>
        <h1>Honorarnote Nr: {{ invoice_id }}</h1>
      </div>
      <div class="col heading">
        <p>Ebreichsdorf, am {{ today }}</p><br>
      </div>
    </div>
  </div>
  <div class="container billText">
    <div>
      <p>
        Für die erbrachten pädagogischen Leistungen <b>„{{ lesson_form }}“</b> stelle Ich vereinbarungsgemäß folgenden Betrag in Rechnung: <br>
      </p>
      <h2 class='amount'>€ {{ amount }} </h2>
      <br>
      <h2>Leistungszeitraum: {{ period }}</h2>
      <h2>Leistungsort: {{ location }}</h2>
      <p>Der Rechnungsbetrag enthält keine Umsatzsteuer gem. § 6 (1) Z 27 UStG - Kleinunternehmer</p>
      <p>Bitte um Überweisung auf folgendes Konto:</p>
      <div class="bank">
        <ol>Gitarrenschule.tv e.U.</ol>
        <ol>Lukas Schönsgibl</ol>
        <ol>SPARKASSE BADEN</ol>
        <ol>IBAN: AT66 2020 5010 0111 2711</ol>
        <ol>BIC: SPBDAT21XXX</ol>
      </div>
      <p>Wir hoffen, dass alles zu Ihrer vollsten Zufriedenheit verlaufen ist.</p>
      <p>Bei weiteren Fragen: <a href="mailto:service@gitarrenschule.at">service@gitarrenschule.at</a></p>
    </div>
    <div class="container logoBill">
      <img src="{% static 'media/GitarrenschuleAT_Logo.png' %}" alt="Gitarrenschule.at Logo" width=300px>
    </div>
  </body>
  {% block body %}
  {% endblock %}


  </html>
