{% load static %}
<!--Footer Grid Section -->
<div class="bfsc">
  <div class="fbls">
    <img src="{% static "logo/musik-kunst-schule-logo-1024x120.jpg" %}" alt="Footer Logo MKS">
  </div>
  <div class="bcls">

  </div>
  <div class="bscmbs">
    <img src="{% static "media/footer/yt_icon_footer.jpg" %}" alt="Footer Youtube Channel Icon">
    <img src="{% static "media/footer/fb_icon_footer.jpg" %}" alt="Footer Facebook Account Icon">
    <img src="{% static "media/footer/insta_icon_footer.jpg" %}" alt="Footer Instagram Channel Icon">
  </div>
  <div class="bcrs">

  </div>
  <div class="cbsf">
    © {% now "Y" %}
  </div>
</div>
