{% load static %}
<!--Footer Grid Section -->

<div class="logo-footer-container">
  <div>
    <img src="{% static "logo/footer/Europaballett_logo-1.png" %}" alt="">
  </div>
  <div>
    <img src="{% static "logo/footer/festwochen_2018.png" %}" alt="">
  </div>
  <div>
    <img src="{% static "logo/footer/Logo_Kreativakademie-1024x1024.png" %}" alt="">
  </div>
  <div>
    <img src="{% static "logo/footer/MKM_Logo_RGB.png" %}" alt="">
  </div>
  <div>
    <img src="{% static "logo/footer/MKM_Logo_RGB.png" %}" alt="">
  </div>
  <div>
    <img src="{% static "logo/footer/NOE_Kreativ-GmbH-1024x326.png" %}" alt="">
  </div>
  <div>
    <img src="{% static "logo/footer/Europaballett_logo-1.png" %}" alt="">
  </div>
</div>

<div class="bfsc">
  <div class="bcls">

  </div>
  <div class="bcrs">

  </div>
  <div class="cbsf">
    © {% now "Y" %} Musikschule & Kuntschule St. Pölten
  </div>
  <div class="fbls">
    <img src="{% static "logo/abteilungslogo.png" %}" alt="Footer Logo MKS">
  </div>
</div>
