{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="authoring-tool" content="Adobe_Animate_CC">
  <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/teachingBase.css" %}" type="text/css" media="screen">
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
  <script type="text/javascript" src="{% static "schedule.js" %}"></script>
  <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
  <link rel='stylesheet' type='text/css' href="{% static 'css/lessonBase.css' %}" />
  <!-- CSS -->
  <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" media="screen">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <!-- Fav -->
  <link rel="icon" href="{% static "favicon/blessondfav.ico" %}"/>

  <!-- JQuery Ajax --->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

  <!-- Blessond Nav Script -->
  <script type="text/javascript" src="{% static "js/blessond.js" %}"></script>

  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="nvb">
      <div class="bnbs">
        <div class="bls">
          <a href="https://www.w3schools.com">
          <img src="{% static "media/nav/blessond-logo.png" %}" alt="blessond logo navbar"
          href="#">
          </a>
        </div>
        {% if user.is_authenticated %}
        <div class="bun">
          <ul>
            <li><a href="#">Hallo, {{ request.user }}</a></li>
            <li><a href="/teaching/calendar">Calendar</a></li>
            <li><a href="/teaching/allstudents">Students</a></li>
            <li><a href="/controlling/events">Controlling</a></li>
            <li><a href="#">Hilfe</a></li>
          </ul>
        </div>
        {% endif %}
        <div class="bns">
          <div class="drops">
            <div class="dropdown arrow">
              <button class="dropbtn">Unterricht</button>
              <div class="dropdown-content">
                <a href="/gitarrenunterricht">Gitarre lernen</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown-b arrow">
              <button class="dropbtn-b">Online</button>
              <div class="dropdown-content-b">
                <a href="/fretboard">Fretboard</a>
                <a href="/lernmaterial">Lernmaterial</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown-c arrow">
              <button class="dropbtn-c">Blog</button>
              <div class="dropdown-content-c">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown-d arrow">
              <button class="dropbtn-d">Über</button>
              <div class="dropdown-content-d">
                <a href="/contact">Kontakt</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Mobile Nav -->

      <div id="blessondNavMobile" class="menu">
        <div>
          <span id="menuIcon" onclick="openNav()">
            <img id="mobileHamburger" onclick="openNav()" src="{% static "media/nav/mobile/hamburger_mobile.png" %}" alt="mobile Hamburger icon">
            Menü
          </span>
          </div>
          <div id="mobileLogo"><img src="{% static "media/nav/mobile/mobile_logo.png" %}" alt="mobile blessond logo"></div>
          <div><a id="closeMobileMenu" href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <img id="closemobleHamburger" src="{% static "media/nav/mobile/hamburger_mobile_active.png" %}" alt="mobile Hamburger icon">Menü</a></div>
          </div>
          <div id="blessondNavMobileMenu" class="overlay">
            <div class="overlay-content">

              <a class="mainHeadingMobile" href="#">Unterricht</a>
              <a class="categoryHeadingMobileNoCursor" href="/gitarrenunterricht">Gitarre lernen</a>
              <a class="categoryHeadingMobile" href="#">Online</a>
              <a class="categorySecondHeadingMobile" href="/fretboard">Fretboard</a>
              <a class="categorySecondHeadingMobile" href="/teachingmaterial">Lernmaterial</a>
              <a class="mainHeadingMobile" href="#">Blog</a>
              <a class="categoryHeadingMobileNoCursor" href="#">Gitarre</a>
              <a class="categoryHeadingMobileNoCursor" href="#">Klavier</a>
              <a class="categoryHeadingMobileNoCursor" href="#">Gesang</a>
              <a class="mainHeadingMobile" href="#">Über</a>
              <a class="categoryHeadingMobileNoCursor" href="/contact">Contact</a>
              <a class="categoryHeadingMobileNoCursor" href="#">Über Uns</a>
              <a class="categoryHeadingMobileNoCursor" href="#">Impressum</a>
            </div>
          </div>
        </div>

      </header>


    {% block navbar %}
    {% endblock %}

      <div class="new_event">
        <div class="EC hidden">
          <div class="row ec">
            <button class="echb t-bd">X</button>
            Create Event with this FORM:
          </div>
          <div class="container">
          <form method="post" id="create_event_form">
            {% csrf_token %}
            <p>Student:</p>
            <p>{{ form.student }}</p>
            <p>Day:</p>
            <p>{{ form.date }}</p>
            <p>Time:</p>
            <p>{{ form.time }}</p>
            <p>Lesson Content:</p>
            <p>{{ form.text_field }}</p>
            <div class="form-actions">
              <button class="t-bd" type="submit">Send</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <button class="ecb EC t-bd">Create Event</button>
      {% block eventmaker %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
    <p style="clear:both">

      <div id="calendar_body">
        {% if messages %}
        <ul id="messages">
          {% for message in messages %}
          <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </p>
    {% block calendar %}
    {% endblock %}
  </div>
</div>
</div>
{% block body %}
{% endblock %}

</div>

<div class="bf">
  <!--Footer Grid Section -->
  <div class="bfsc">
    <div class="fbls">
      <img src="{% static "media/footer/logo_footer.png" %}" alt="Footer Logo Blessond">
    </div>
    <div class="bcls">
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
    </div>
    <div class="bscmbs">
      <img src="{% static "media/footer/yt_icon_footer.jpg" %}" alt="Footer Youtube Channel Icon">
      <img src="{% static "media/footer/fb_icon_footer.jpg" %}" alt="Footer Facebook Account Icon">
      <img src="{% static "media/footer/insta_icon_footer.jpg" %}" alt="Footer Instagram Channel Icon">
    </div>
    <div class="bcrs">
      <a href="#">Content</a>
      <a href="#">Content</a>
      <a href="#">Content</a>
    </div>
    <div class="cbsf">
      © {% now "Y" %}
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- JS -->
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>

</body>
</html>

{% block footer %}
{% endblock %}
