{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
  <script type="text/javascript" src="{% static "schedule.js" %}"></script>
  <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
  <link rel='stylesheet' type='text/css' href="{% static 'css/lessonBase.css' %}" />
  <!-- CSS -->
  <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" media="screen">
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <!-- Fav -->
  <link rel="icon" href="{% static "favicon/blessondfav.ico" %}"/>

  <!-- JQuery Ajax --->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

  <!-- Blessond Nav Script -->
  <script type="text/javascript" src="{% static "js/blessond.js" %}"></script>

{% block extra_head %}
{% endblock %}
</head>

<body>
  <!-- NAV -->
  <header>
    <div class="nvb">
      <div class="bnbs">
        <div class="bls">
          <a href="https://www.w3schools.com">
          <img src="{% static "media/nav/blessond-logo.png" %}" alt="blessond logo navbar"
          href="#">
          </a>
        </div>
        {% if user.is_authenticated %}
        <div class="bun">
          <ul>
            <li><a href="#">Hallo, {{ request.user }}</a></li>
            <li><a href="/teaching/calendar">Calendar</a></li>
            <li><a href="/teaching/allstudents">Students</a></li>
            <li><a href="/controlling/events">Controlling</a></li>
            <li><a href="#">Hilfe</a></li>
          </ul>
        </div>
        {% endif %}
        <div class="bns">
          <div class="drops">
            <div class="dropdown arrow">
              <button class="dropbtn">Unterricht</button>
              <div class="dropdown-content">
                <a href="/gitarrenunterricht">Gitarre lernen</a>
                <a href="/klavierunterricht">Klavier lernen</a>
                <a href="/gesangsunterricht">Gesangsunterricht</a>
              </div>
            </div>
            <div class="dropdown-b arrow">
              <button class="dropbtn-b">Online</button>
              <div class="dropdown-content-b">
                <a href="/fretboard">Fretboard</a>
                <a href="/lernmaterial">Lernmaterial</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown-c arrow">
              <button class="dropbtn-c">Blog</button>
              <div class="dropdown-content-c">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            <div class="dropdown-d arrow">
              <button class="dropbtn-d">Über</button>
              <div class="dropdown-content-d">
                <a href="/contact">Kontakt</a>
                <a href="/impressum">Impressum</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- Mobile Nav -->

      <div id="blessondNavMobile" class="menu">
        <div>
          <span id="menuIcon" onclick="openNav()">
            <img id="mobileHamburger" onclick="openNav()" src="{% static "media/nav/mobile/hamburger_mobile.png" %}" alt="mobile Hamburger icon">
            Menü
          </span>
          </div>
          <div id="mobileLogo"><img src="{% static "media/nav/mobile/mobile_logo.png" %}" alt="mobile blessond logo"></div>
          <div><a id="closeMobileMenu" href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <img id="closemobleHamburger" src="{% static "media/nav/mobile/hamburger_mobile_active.png" %}" alt="mobile Hamburger icon">Menü</a></div>
          </div>
          <div id="blessondNavMobileMenu" class="overlay">
            <div class="overlay-content">

              <a class="mainHeadingMobile" href="#">Unterricht</a>
              <a class="categoryHeadingMobileNoCursor" href="/gitarrenunterricht">Gitarre lernen</a>
              <a class="categoryHeadingMobileNoCursor" href="/klavierunterricht">Klavier lernen</a>
              <a class="categoryHeadingMobileNoCursor" href="/gesangsunterricht">Gesangsunterricht</a>
              <a class="categoryHeadingMobile" href="#">Online</a>
              <a class="categorySecondHeadingMobile" href="/fretboard">Fretboard</a>
              <a class="categorySecondHeadingMobile" href="/lernmaterial">Lernmaterial</a>
              <a class="mainHeadingMobile" href="#">Blog</a>
              <a class="categoryHeadingMobileNoCursor" href="#">Gitarre</a>
              <a class="mainHeadingMobile" href="#">Über</a>
              <a class="categoryHeadingMobileNoCursor" href="/contact">Contact</a>
              <a class="categoryHeadingMobileNoCursor" href="/impressum">Impressum</a>
            </div>
          </div>
        </div>

      </header>

        {% block navbar %}
        {% endblock %}

</div>
</div>
<div class="bs">
{% block banner %}
{% endblock%}
</div>
{% block body %}
{% endblock %}

</div>

<div class="bf">
<!--Footer Grid Section -->
<div class="bfsc">
  <div class="fbls">
    <img src="{% static "media/footer/logo_footer.svg" %}" alt="Footer Logo Blessond">
  </div>
  <div class="bcls">
    <a href="#">Content</a>
    <a href="#">Content</a>
    <a href="#">Content</a>
  </div>
  <div class="bscmbs">
    <img src="{% static "media/footer/yt_icon_footer.jpg" %}" alt="Footer Youtube Channel Icon">
    <img src="{% static "media/footer/fb_icon_footer.jpg" %}" alt="Footer Facebook Account Icon">
    <img src="{% static "media/footer/insta_icon_footer.jpg" %}" alt="Footer Instagram Channel Icon">
  </div>
  <div class="bcrs">
    <a href="#">Content</a>
    <a href="#">Content</a>
    <a href="#">Content</a>
  </div>
  <div class="cbsf">
    © {% now "Y" %}
  </div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>

{% block footer %}
{% endblock %}
