{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}


{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}


<img src="/static/banner/home_banner.jpg" alt="Banner Musik- und Kunstchule St. Pölten Geschichte">

<img id="mbimg" src="/static/banner/mobile/home_banner.jpg" alt="Banner Musik- und Kunstchule St. Pölten Mobile Geschichte">

{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Geschichte der Musik- und Kunstschule St. Pölten</h1>
    <p>Die römische Zivil- und Handelsstadt Aelium Cetium, wie St. Pölten damals hieß, entstand Ende des 1. Jahrhunderts n. Chr. Um das Jahr 800 wurde von den Brüdern Adalbert und Ottokar, ausgestattet mit den Reliquien des heiligen Hippolyt, das Kloster St. Ypolit gegründet. Aus dieser Zeit stammen auch die ersten Erwähnungen über Musik im Mittelalter. Im Jahr 1560 schlossen der Rat der Stadt St. Pölten und der Propst des Augustinerklosters ein für das musikalische Leben wichtiges Abkommen: Es wurde ein – von Stadt und Kloster besoldeter – „Thurnermeister“ (Turmmeister) angestellt, ein Feuerwächter, der dreimal täglich vom Turm des Domes Bläsersignale abgab.</p>
    <p>Der Thurnermeister und seine – von ihm selber entlohnten – Gehilfen, allesamt mehr oder weniger gute, im Privatunterricht ausgebildete Instrumentalsolisten, spielten auch bei kirchlichen und weltlichen Festen sowie bei privaten Veranstaltungen und prägten so das Musikleben der bürgerlichen Gesellschaft St. Pöltens.</p>
    <p>Ab 1787 gab es eine Garnison mit einer etablierten Militärmusik. Untrennbar mit der Jakob Prandtauer-Stadt ist der Name Franz Schubert verbunden. Franz Schubert weilte im Jahr 1821 als Gast des Bischofs Johann Nepomuk von Dankesreither in St. Pölten und komponierte auf Schloss Ochsenburg Teile seiner Oper &#8222;Alfonso und Estrella&#8220;. Im Haus Rathausgasse 2, damals im Besitz des Freiherrn von Münk, wurden unter Mitwirkung des Komponisten &#8222;Schubertiaden&#8220; veranstaltet.</p>
    <p>In diese Zeit fallen auch die Berichte von „Akademien“, dem gemeinsamen Musizieren von Berufsmusikern und sog. „Dilettanten“, dem damaligen Wortsinn nach Liebhaber der Tonkunst, die abseits ihres Brotberufs zum Vergnügen musizierten. Immer noch stand die Ausbildung des musikalischen Nachwuchses auf keiner organisierten Basis, ein Umstand, der sich erst mit der Gründung des „Musikvereins St. Pölten 1837“ und der Musikschule St. Pölten unter Anton Scherer im Schuljahr 1837/1838 änderte. Die Statuten wurden vom dem im Jahre 1817 gegründeten Wiener Konservatorium übernommen, dem Vorläufer der Universität für Musik und darstellende Kunst Wien, dessen erster Leiter Antonio Salieri war. Ludwig Stöhr erweiterte 1871 die Gesang- und Musikschule auf der Grundlage der Statuten von 1837. Die Gesangsklasse hatte 36 Schüler:innen, die Violinklasse nur 6 Schüler:innen. In die erfolgreiche 30-jährige Wirkenszeit fiel auch die Verleihung des Öffentlichkeitsrechts im Jahre 1885.</p>
    <p>Im Jahre 1900 wurde Alois Gruber der neue musikalische Leiter des Musikvereins, der sich vor allem der Aufführung großer Oratorien widmete. 1921 wurde sein damaliger Stellvertreter Anton Schnall neuer Musikdirektor, danach folgte Paul Stolz, 1927 Eugen Carsen.</p>
    <p>Die erste Rundfunkübertragung einer Aufführung des Musikvereins, der Nelson Messe von Franz Joseph Haydn, fand 1929 statt. 1931 erfolgte die Gründung eines Bläserorchesters.</p>
    <p>Nach dem zweiten Weltkrieg erhielt 1948 Prof. Walter Hofmann die musikalische Leitung.</p>
    <p>Im Schuljahr 1960/1961 wurde die Musikschule von der Stadt St. Pölten übernommen. Sechs Lehrer:innen unterrichteten 88 Schüler:innen in fünf Räumen. Als Fächer wurden Gesang, Gitarre, Klavier, Trompete und Violine angeboten. Im Schuljahr 1962/1963 folgte die Gründung der Kindersingschule, 1975 der Abteilung für Musikalische Früherziehung.</p>
    <p>Von 1979 bis 2014 war Prof. Viktor Mayerhofer Direktor der Musikschule. Er erweiterte das Angebot auf das seit dem Musikschulgesetz 2000 empfohlene Fächerangebot für Regionalmusikschulen, das neben sämtlichen Orchesterinstrumenten, elektronischen Instrumenten auch Mangelinstrumente wie Harfe, Zither, Fagott usw. beinhaltet. Die Verleihung des bis heute bestehenden Öffentlichkeitsrechts durch das Bundesministerium für Unterricht und Kunst im Jahre 1992, die Gründung der Balletschule im Jahre 1996 sowie die Generalsanierung des Haupthauses zur Jahrtausendwende, der sogenannten Voith-Villa, das zweifelsohne zu den schönsten Unterrichtsgebäuden zählt, waren Meilensteine der Entwicklung der Musikschule. Im Jahre 2004 wurden von 61 Lehrern in 52 Räumen, darunter 14 Außenstellen, ca. 1300 Schüler ausgebildet.</p>
    <p>2014 bis 2022 leitete Mag. Alfred Kellner, PhD die Musikschule. Unter seiner Führung wurde ein besonderer Meilenstein in Kooperation mit der damaligen Kreativ GmbH des Landes Niederösterreich - heute MKM Musik- und Kunstschulen Management Niederösterreich GmbH - erreicht: Die Erweiterung zur Musik- und Kunstschule. Seit 2015 wurde das breite Fächerangebot der Musikschule St. Pölten um elf verschiedene Akademien im Bereich der darstellenden und bildenden Kunst sowie Literatur bereichert. Seit 2016 wurde in Zusammenarbeit mit dem MKM und der Universität für Musik und darstellende Kunst Wien ein besonderer Schwerpunkt im Bereich der Talenteförderung gesetzt. Im Rahmen des „Streicher intensiv“ Ausbildungsprogrammes besteht nun ein besonderer Ausbildungszweig für hochtalentierte Schüler:innen.</p>
    <p>Seit April 2022 leitet Lukas Schönsgibl, BA MAS als neuer Direktor die traditionsreiche Musikschule.</p>
  </div>
</div>

</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
