{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
<meta name="title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta name="description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer_innen für eine Vielzahl von Instrumenten und Stilrichtungen.">

<!-- Social Media Meta --->
<meta property="og:title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta property="og:description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer_innen für eine Vielzahl von Instrumenten und Stilrichtungen.">
<meta property="og:image" content="static/media/thumbnail/facebook/home.jpg">
<meta property="og:url" content="https://musik-kunst-schule.at/">

<meta name="twitter:title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta name="twitter:description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer_innen für eine Vielzahl von Instrumenten und Stilrichtungen.">
<meta name="twitter:image" content="static/media/thumbnail/twitter/home.jpg">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}

<img src="/static/media/banner/home_banner.jpg" alt="">
<img id="mbimg" src="/static/media/banner/mobile/home_banner.jpg" alt="">

{% endblock %}
{% block body %}
<div class="bcmk">
  <div class="left">
    <section>
      <a target="_blank" href="https://www.amtsweg.gv.at/stpoelten/start.do?wfjs_enabled=true&vid=352191118f3b4979&wfjs_orig_req=%2Fstart.do%3Fid%3DAnmeldung_Musikschule_V1_0%26event%3Dview%26cancelurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26sendurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26pdflogo%3Dafs%252Fimages%252Fstpoelten.gif&txid=59ca6d9fda0565f3893eb37614c8974770c6e631&vid=352191118f3b4979&wfjs_orig_req=%2Fstart.do%3Fid%3DAnmeldung_Musikschule_V1_0%26event%3Dview%26cancelurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26sendurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26pdflogo%3Dafs%252Fimages%252Fstpoelten.gif&txid=59ca6d9fda0565f3893eb37614c8974770c6e631">Anmeldung Musikschule</a>
    </section>
  </div>
  <div class="middle">
    <img src="/static/media/banner/home_banner_two.jpg" alt="">
  </div>
  <div class="right">
    <section>
      <a target="_blank" href="https://www.mkmnoe.at/angebote-fuer-kinder-jugendliche/kreativakademie/anmeldung">Anmeldung Kunstschule</a>
    </section>
  </div>
</div>
<div class="mbs">
  <div class="container">
    <h1>{{ name }}</h1>
    <p>Die Musikschule St. Pölten bietet ein breites Fächerangebot. Von Tasten-, Saiten-, und Streichinstrumenten, über Holz- und Blechblasinstrumente, elektronische Instrumente, Stimmbildung, Chor, dem Europaballett, alter Musik, Elementarer Musikerziehung und Musikalischer Grundausbildung, der Blasmusik, dem symphonischen Orchester, zahlreichen Ensembles und Bands, bis hin zu Kooperationen mit Kindergärten, allgemein bildenden Pflichtschulen und höheren Schulen wird an der Musikschule beinahe jedes „Wunschinstrument“ unterrichtet.</p>
    <a href="{% url 'teaching-music'%}">
      <button>Weiterlesen</button>
    </a>
    <br>
  </div>

  <div class="counter-grid-container">
    <div class="counter-left">
      <section>
        <h2>~ 2000</h2>
        <p>Schüler_innen</p>
      </section>
    </div>
    <div class="counter-right">
      <section>
        <h2>{{ teacher_counter }}</h2>
        <p>Lehrer_innen</p>
      </section>
    </div>
  </div>
  <section class="events-container-grid">
    <div class="all-events-banner"></div>
    <div class="all-events-container">
      <h1>Veranstaltungen</h1>

      {% for event in events %}
      <div class="event-container">
        <div class="mks-event-date">
          <h3>{{ event.get_date_presentation }}</h3>
        </div>
        <div class="mks-event-title">
          <h3>{{ event.name }}</h3>
        </div>
        <div class="mks-event-time">
          <p>{{ event.get_time_presentation }}</p>
        </div>
        <div class="mks-event-venue">
          <p>{{ event.venue }}</p>
        </div>
      </div>
      {% endfor %}

    </section>


    <div class="maps-google">
      <iframe
      width="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCkYm2GG7TLXTN9QpznK6tjT35PMh3PNas
      &q=Musikschule+St.Pölten+3100" allowfullscreen>
    </iframe>
  </div>

  {% endblock %}
  {% block footer %}

  {% endblock %}
