{% extends "templates/base.html" %}

{% load static %}
{% load thumbnail %}
{% load user_agents %}

{% block extra_head %}

<!-- HTML Meta Tags -->
<meta name="title" content="Musikschule der Landeshauptstadt St. Pölten | Musikunterricht für jedes Alter und Interesse">
<meta name="description" content="Hochwertiger Musikunterricht in St. Pölten für alle Altersgruppen und Fähigkeiten. Entdecken Sie unser vielfältiges Angebot an Instrumental- und Gesangsunterricht.">

<!-- Facebook -->

<meta property="og:title" content="Musikschule der Landeshauptstadt St. Pölten | Musikunterricht für jedes Alter und Interesse">
<meta property="og:description" content="Hochwertiger Musikunterricht in St. Pölten für alle Altersgruppen und Fähigkeiten. Entdecken Sie unser vielfältiges Angebot an Instrumental- und Gesangsunterricht.">
<meta property="og:image" content="static/thumbnail/facebook/home.jpg">
<meta property="og:url" content="https://musikschule-stp.at/">

<!-- Twitter -->

<meta name="twitter:title" content="Musikschule der Landeshauptstadt St. Pölten | Musikunterricht für jedes Alter und Interesse">
<meta name="twitter:description" content="HochwertigerMusikunterricht in St. Pölten für alle Altersgruppen und Fähigkeiten. Entdecken Sie unser vielfältiges Angebot an Instrumental- und Gesangsunterricht.">
<meta name="twitter:image" content="static/thumbnail/twitter/home.jpg">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}


{% block navbar %}
{% endblock %}
{% block banner %}

<!-- {% include "templates/slider.html" %} -->
<img id="homebanner" src="{% static 'banner/home_banner_ak.webp' %}" alt="Banner Musikschule St. Pölten">
<img id="mbimg" src="{% static 'banner/mobile/home_banner_ak_800.webp' %}" alt="Banner Musik- und Kunstchule St. Pölten Mobile">

{% endblock %}
{% block body %}

<!-- Alert Message -->
{% if alert_title or alert_message %}
<div class="alert-overlay">
    <div class="alert-content">
        <span class="close-btn">&times;</span>  <!-- Das "X" zum Schließen -->
        <h2>{{ alert_title }}</h2>  <!-- Der Titel als Überschrift -->
        <p>{{ alert_message }}</p>   <!-- Der Nachrichtentext -->
    </div>
</div>
<script>
    // Funktion zum manuellen Schließen des Alerts durch Klick auf das "X"
    document.querySelector('.close-btn').addEventListener('click', function() {
        document.querySelector('.alert-overlay').style.display = 'none';
    });

    // Alert automatisch nach 20 Sekunden ausblenden
    setTimeout(function() {
        document.querySelector('.alert-overlay').style.display = 'none';
    }, 20000);
</script>

<style>
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  /* Leicht transparentes dunkles Overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-content {
    background-color: white;  /* Weißer Hintergrund */
    padding: 30px;
    border-radius: 20px;  /* Mehr abgerundete Ecken */
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  /* Weicherer, tieferer Schatten */
    max-width: 800px;  /* Maximalbreite, um den Text besser zu strukturieren */
    margin: 0 20px;  /* Leichter Rand für kleinere Bildschirme */
    position: relative;
}

.alert-content h2 {
    margin: 0 0 15px;
    font-size: 2.5em;  /* Größere Schrift für den Titel */
    color: #333;  /* Ein etwas weicheres Schwarz */
    font-weight: bold;
}

.alert-content p {
    font-size: 1.2em;
    color: #555;  /* Dunkelgrauer Text für eine weichere Wirkung */
    line-height: 1.6;  /* Bessere Lesbarkeit durch erhöhten Zeilenabstand */
}

.alert-content span{
  text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

@media (max-width: 600px) {
    .alert-content {
        padding: 20px;
    }
    
    .alert-content h2 {
        font-size: 1.8em;  /* Kleinere Schrift auf mobilen Geräten */
    }
    
    .alert-content p {
        font-size: 1em;
    }
}

</style>
{% endif %}

<div class="mbs">
  <div id="home-container" class="container">
    {% if name %}
    <h1>{{ name }}</h1>
    {% endif %}
    
    <p style="text-align:center;"><b>{{index_text.lead_paragraph|safe}}<b></p>
    {{index_text.content|safe}}
    <a href="{% url 'teaching_music'%}">
      <button>Weiterlesen</button>
    </a>
    {% if material_data %}
    <br>
    <h2>Aktuelle Informationen der Direktion</h2>
    <p></p>
    <div class="tmcb">

      {% for material in material_data %}
      {% include "downloadsection/pdf_interface.html" %}
      {% endfor %}

    </div>
    {% endif %}
    <br>
  </div>
</div>

{% if blog %}
<section id="blogEntrySection" class="container">
  <h1>Aktuelles</h1>
  <div class="tmcon">
    <div class="tmcb">
      {% for blog in blog %}
      <div class="tmcbpb">
        <div class="mti">
          <a href="blog/{{blog.published_year}}/{{blog.slug}}">
            <picture>
              {% thumbnail blog.image "400x300" crop="center" format="WEBP" as im %}
              <source srcset="{{ im.url }}" type="image/webp">
              {% endthumbnail %}
              {% thumbnail blog.image "400x300" crop="center" format="JPEG" as im %}
              <source srcset="{{ im.url }}" type="image/jpeg">
              <img src="{{ im.url }}" 
              width="{{ im.width }}" 
              height="{{ im.height }}"
              alt="{{ blog.image.title }} Beitragsbild">
              {% endthumbnail %}
            </picture>
            <h3>{{ blog.title }}</h3>
          </a>
          <div class="tctm">
            <p>{{ blog.meta_description|linebreaks|truncatewords:30 }}</p>
            <a href="blog/{{blog.published_year}}/{{blog.slug}}">
              <button>
              Weiterlesen
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% if request|is_mobile %}
{% else %}
<div class="mbs container video">
  <div class="container">
    <h1>Unser Schüler:innen stellen sich vor</h1>
    <section id="banner-video">
      <iframe loading="lazy" src="https://player.vimeo.com/video/671871325?h=93312808d7?autoplay=1&loop=1&autopause=0&muted=1&background=1&muted=1&autoplay=1" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </section>
    <a href="{% url 'teaching_music'%}">
      <button>Unterrichtsangebot</button>
    </a>
  </div>
</div>
{% endif %}
{% if events %}
<div class="mbs container">

  <section class="events-container-grid">
    <div class="all-events-container">
      <h1>Veranstaltungen</h1>
      {% for event in events %}
      <div class="event-container">
        <div class="mks-event-date">
          <h3>{{ event.get_date_presentation }}</h3>
        </div>
        <div class="mks-event-title">
          <h3>{{ event.name }}</h3>
        </div>
        <div class="mks-event-time">
          <p>{{ event.get_time_presentation }}</p>
        </div>
        <div class="mks-event-venue">
          <p>{{ event.venue }}</p>
        </div>
      </div>
      {% endfor %}


    </section>

  </div>
{% endif %}
  {% endblock %}

  {% block footer %}
  <style media="screen">
  section>iframe{width:100%!important;height:650px!important}@media only screen and (max-width:1387px){section>iframe{margin-left:auto;margin-right:auto;display:block;padding-bottom:20px}}@media only screen and (max-width:677px){section>iframe{width:100%!important;height:200px!important}}@media only screen and (max-width:400px){section>iframe{width:100%!important;height:180px!important}}@media only screen and (max-width:370px){section>iframe{width:100%!important;height:150px!important}}
  </style>
  {% endblock %}
