{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
<meta name="description" content="Erfolgreicher Gitarrenunterricht und Klavierunterricht für St. Pölten. Unsere Musiklehrer für E-Gitarre, Akustikgitarre und Klavier sowie Erwachsene und Kinder.">
<meta name="title" content="Gitarrenunterricht & Klavierunterricht in St. Pölten">

<!-- Social Media Meta --->
<meta property="og:title" content="Blessond.com | Gitarrenunterricht & Klavierunterricht in St. Pölten">
<meta property="og:description" content="Erfolgreicher Gitarrenunterricht und Klavierunterricht für St. Pölten. Unsere Musiklehrer für E-Gitarre, Akustikgitarre und Klavier sowie Erwachsene und Kinder.">
<meta property="og:image" content="static/media/thumbnail/facebook/home.jpg">
<meta property="og:url" content="https://blessond.com/">

<meta name="twitter:title" content="Blessond.com | Gitarrenunterricht & Klavierunterricht in St. Pölten">
<meta name="twitter:description" content="Erfolgreicher Gitarrenunterricht und Klavierunterricht für St. Pölten. Unsere Musiklehrer für E-Gitarre, Akustikgitarre und Klavier sowie Erwachsene und Kinder.">
<meta name="twitter:image" content="static/media/thumbnail/twitter/home.jpg">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}

<img src="/static/media/banner/home_banner.jpg" alt="">
<img id="mbimg" src="/static/media/banner/mobile/home_banner.jpg" alt="">

{% endblock %}
{% block body %}
<div class="mbs">
	<div class="container">
		<h1>Die Musik und Kunst Schule</h1>
		<p>Wir bieten hochwertigen Unterricht in unterschiedlichen Kunst- und Musikbereichen durch ausgebildetete Lehrkräfte an. Dabei stehst DU als SchülerIn mit deinem ganz persönlichen Zugang zur Kunst und Musik im Mittelpunkt. Egal welches Alter, ob blutige Anfänger oder Fortgeschrittene und egal mit welcher Ambition (Hobby, Aufnahmeprüfung an einer Kunst- oder Musikuni etc.) - wir möchten dir helfen, die Kunst und Musik als Teil von dir selbst kennenzulernen, zu verstehen und dadurch deine Freude daran durch steigende Expertise immer größer werden zu lassen.</p>
		<p>Dies steckt schon in unserem Namen: Der Unterricht (<i>“the lesson”</i>) macht selig oder glücklich (“<i>to be blessed</i>") -> <i>blessond</i></p>
		<p>Momentan bieten wir an 2 Standorten Gitarren, Klavier- und Gesangsunterrichts-stunden im Einzel oder Gruppenunterricht an. Wir erweitern unser Angebot aber ständig und sind bemüht, bald viel andere Instrumente sowie Tanz und bildnerische Kunst in kontinuierlicher Unterrichtsform sowohl als Workshops anzubieten.</p>
		<p>Hier auf unserer Website kannst du mit uns in Kontakt treten, dich informieren und Schupperstunden oder zum Unterricht anmelden. Du findest außerdem zur freien Verfügung gestellte <a href="/lernmaterial">Lernmaterialien</a>, PDF’s sowie eigens programmierte Lern-Applikationen die eine Hilfestellung beim Erlernen sein können.</p>
		<p>Wir freuen uns auf deine Nachricht und hoffen, dich bald als SchülerIn begrüßen zu dürfen.</p>
	</div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}
