{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}


{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}


<img src="/static/banner/home_banner.jpg" alt="Banner Musik- und Kunstchule St. Pölten Geschichte">

<img id="mbimg" src="/static/banner/mobile/home_banner.jpg" alt="Banner Musik- und Kunstchule St. Pölten Mobile Geschichte">

{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Logo</h1>
    <p>Hier finden Sie die unser Logo zum Download. Bitte beachten Sie den richtigen Umgang mit unserem Logo.</p>
  </div>
</div>

</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
