appnope
attrs
backcall
bleach
certifi
chardet
decorator
defusedxml
Django
django-allauth
django-appconf
django-ckeditor
django-compressor
django-debug-toolbar
django-extensions
django-js-asset
django-phone-field
django-sass-processor
entrypoints
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
libsass
MarkupSafe
mistune
nbconvert
nbformat
notebook
oauthlib
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
psycopg2-binary
ptyprocess
Pygments
pyrsistent
python-dateutil
python3-openid
pytz
pyzmq
qtconsole
rcssmin
requests
requests-oauthlib
rjsmin
Send2Trash
six
sqlparse
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
