{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<meta name="robots" content="noindex">

{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/media/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div id="recaptcha-team-login" class="g-recaptcha" data-sitekey="6LcS2sMUAAAAANJLGjMxPViSNjpLcH_esztwxQ2I"></div>
      <button id="button-login" type="submit">Login</button>
    </form>
  </div>
</div>
{% endblock %}


{% block footer %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
