{% extends "templates/base.html" %}

{% load static %}
{% load i18n %}


{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/media/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>{% trans "Change Password" %}</h1>
      <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    </form>
    <a href="#">
    <button type="submit">Save changes</button>
    </a>
{% endblock %}

{% block footer %}
{% endblock %}
