{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/banner/home_banner.jpg" alt="">
{% endblock %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h2>Registrierung</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}
