{% load static %}
<slider>
    <slide></slide>
    <slide></slide>
    <slide></slide>
    <slide></slide>
</slider>

<style>
  /* Verwendung der tatsächlich vorhandenen Bilder im dance-Ordner */
  slide:nth-child(1) {
    background-image: url('{% static "banner/dance/Tanz und Ballett (6 von 29).jpg" %}');
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(2) {
    background-image: url('{% static "banner/dance/Tanz und Ballett (24 von 29).jpg" %}');
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(3) {
    background-image: url('{% static "banner/dance/DSC06254.JPG" %}');
    background-size: cover;
    background-position: center;
  }
  
  slide:nth-child(4) {
    background-image: url('{% static "banner/dance/DSC06457.JPG" %}');
    background-size: cover;
    background-position: center;
  }
</style>
