{% extends "templates/base.html" %}
{% load i18n static %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<style media="screen">
  #cross-burger-students:hover .cross_st0{
    stroke: black;
  }
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  {% if request.user.is_staff %}
  <div class="container">
    <h2>Angemeldete Schüler:innen</h2>
    <a href="new_student"><button>+ Neuer Eintrag</button></a>
    <table cellspacing="0" cellpadding="0" width="100%">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th style="text-align:left" align="left">Anmeldedatum</th>
          <th style="text-align:left" align="left">Name</th>
          <th style="text-align:left" align="left">Instrument</th>
          <th style="text-align:left" align="left">Telefonnummer</th>
          <th style="text-align:left" align="left">E-Mail</th>
          <th style="text-align:left" align="left">Lehrerzuteilung</th>
          <th style="text-align:left" align="left">Schnupperstunde</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="studentTable">
        {% for student in students.all %}
          <tr>
            <td><a traget="_blank" href="/team/controlling/single_student?id={{student.id}}">{% include "templates/svg/pen_controlling.html" %}</a></td>
            <td><a href="?id={{student.id}}" onclick="return confirm('Wollen Sie wirklich den Eintrag {{ student.first_name }} {{ student.last_name }} löschen?');">{% include "templates/svg/nav_bar_crossburger.html" %}</a></td>
            <td><strong>{{student.start_date}}</strong></td>
            <td align="left"><a traget="_blank" href="/team/controlling/single_student?id={{student.id}}">{{ student.first_name }} {{ student.last_name }}</a></td>
            <td>{{student.subject }}</td>
            <td>{{student.parent.phone }}</td>
            <td>{{student.parent.email }}</td>
            <td style="text-align: center;"><input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{student.id}}" value="teacher_{{student.id}}" onclick="" style="width: 1.5rem;" disabled {% if student.teacher %}checked{% endif %}></td>
            <td style="text-align: center;"><input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{student.id}}" value="trial_{{student.id}}" onclick="" style="width: 1.5rem;" disabled {% if student.trial_lesson == True %}checked{% endif %}></td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}
