{% extends "templates/base.html" %}
{% load i18n static %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<style media="screen">
  #cross-burger-students:hover .cross_st0{
    stroke: black;
  }
</style>
{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}
<img src="/static/banner/kontakt_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/kontakt_banner.jpg" alt="">
{% endblock %}
{% block body %}
<div class="mbs">
  {% if error %}
  <div class="container">
    <h1>Das hätte nicht passieren dürfen ...</h1>
    <h2>Leider wurden keine Schülerdaten gefunden. Wir arbeiten an der Behebungs des Problems.</h2>
  </div>
  {% else%}
  <div class="container">
    <h1>Fachgruppe {{ category.name }}</h1>
    <h2>Angemeldete Schüler:innen</h2>
    <table cellspacing="0" cellpadding="0" width="100%">
      <thead>
        <tr>
          <th style="text-align:left" align="left">Name</th>
          <th style="text-align:left" align="left">Instrument</th>
          <th style="text-align:left" align="left">Telefonnummer</th>
          <th style="text-align:left" align="left">E-Mail</th>
          <th style="text-align:left" align="left">Anmeldedatum</th>
          <th style="text-align:left" align="left">Schnupperstunde</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students.all %}
          <tr>
            <!-- TODO: Submit Overlay for Student Data -->
            <td align="left"><a traget="_blank" href="/team/controlling/single_student?id={{student.id}}">{{ student.first_name }} {{ student.last_name }}</a></td>
            <td>{{student.subject }}</td>
            <td>{{student.parent.phone }}</td>
            <td>{{student.parent.email }}</td>
            <td><strong>{{student.start_date}}</strong></td>
            <td><input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{student.id}}" value="trial_{{student.id}}" onclick="" style="width: 1.5rem;" disabled {% if student.trial_lesson == True %}checked{% endif %}></td>

          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  {% endif %}

</div>
{% endblock %}
{% block footer %}
{% endblock %}
