{% extends "templates/teaching_base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<style>


</style>
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/images/banner/home-slide01.jpg" alt="">
{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <div class="dropdown" style="float:left;">
  <button class="dropbtn">Location</button>
  <div class="dropdown-content" style="left:0;">
    {% for location in locations.all %}
    <a href="/controlling/events/location?location={{location.id}}">{{ location.location_name }}</a>
    {% endfor %}
  </div>
</div>
<div class="dropdown" style="float:left;">
  <button class="dropbtn">Teacher</button>
  <div class="dropdown-content" style="left:0;">
    {% for teacher in teachers.all %}
    <a href="?teacher={{teacher.id}}">{{ teacher.first_name }} {{ teacher.last_name }}</a>
    {% endfor %}
  </div>
</div>
<br>

<p>
Teacher: {{ teacher }}

<table style="width:100%">
  <tr>
    <th>Lesson</th>
    <th>Start</th>
    <th>End</th>
    <th>Content</th>
  </tr>
  {% for events in events.all %}

  <tr>
    <td>{{ events.title }}</td>
    <td>{{ events.start }}</td>
    <td>{{ events.end }}</td>
    <td>{{ events.description }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
{% block footer %}
{% endblock %}
