{% extends "templates/base.html" %}
{% load i18n static %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}
{% endblock %}
{% block body %}
<div class="mbs">
  <div class="container student-view">
  <img class="studentProfileImg" src="{{ image }}" width=150>
  <h1>{{ first_name }} {{ last_name }}</h1>
  <br>
  <p>Instrument: <strong>{{ subject }}</strong></p>
  {% if birth_date %}
  <p>Geburtstag: <strong>{{ birth_date }}</strong></p>
  {% endif %}
  <p>Anmeldungsdatum: <strong>{{ start_date }}</strong></p>
  <br>
  <h2>Eltern</h2>
  <p>{{ parent_first_name }} {{ parent_last_name }}</p>
  <p>Straße: {{ adressline }} {{ house_number }}</p>
  <p>Ort: {{ postal_code }} {{ city }}</p>
  <p>Email: <a href="mailto:{{email}}">{{ email }}</a></p>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
