html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    padding: env(safe-area-inset); // Overflow IPhoneXS
}

body {
  color: #2f2f2f;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  height: 100%;
  background-color: #fff;
}

footer{
  clear: both;
  position: relative;
  height:40px;
}
#animation_container, #_preload_div_ {
position:absolute;
margin:auto;
left:0;right:0;
}
#animation_container > div {
  transition: opacity 2s linear;
}

/* Fade In CSS */
.fader {
  -moz-transition: opacity 0.7s linear;
  -o-transition: opacity 0.7s linear;
  -webkit-transition: opacity 0.7s linear;
  transition: opacity 0.7s linear;
}

#bgx {
  opacity: 0;
}
@media only screen and (max-width: 771px) {
  #bgx{
    opacity: 1;
  }
  #animation_container {
    visibility: hidden;
  }
}

a {
  color: rgb(205, 0, 92);
  text-decoration: none;
}

a:hover {
  color: rgb(205, 0, 92);
}
.section.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 111;
  display: flex;
  height: 75px;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  background-color: hsla(0,0%,100%,.94);
}

.logo {
  left: -2px;
  float: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fade {
  opacity: 0;
  transform: scale(1)rotate(0);
  transition: all 1.2s linear;
}

.fade.animate {
  opacity: 1;
  transform: scale(1) rotate(0);
}
.fall {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1.2s ease-out;
}

.fall.animate {
  opacity: 1;
  transform: translateY(0);
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0F262B;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  top: 25%;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  color: #fffc;
  font-size: 22px;
}

.overlay a {
  padding: 0.74rem;
  text-decoration: none;
  display: block;
  color: #fff;
  transition: 0.3s;
  padding-left: 1em;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* Font */
h1{
  font-family: 'Dosis', Semibold;
  font-size: 50px;
  color: rgba(0,0,0,.84);
  text-align: center;
  background: url(/static/media/heading/underline_h1.png) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}
h2{
  font-family: 'Dosis', Semibold;
  color: rgba(0,0,0,.84);
  font-size: 35px;
  text-align: center;
  background: url(/static/media/heading/underline_h2.png) no-repeat;
  padding-bottom: 0.1em;
  background-position-x: center;
  background-position-y: bottom;
}
h3{
  font-family: 'Dosis', Semibold;
  color: rgba(0,0,0,.84);
  font-size: 33px;
  text-align: center;
  background: url(/static/media/heading/underline_h3.png) no-repeat;
  padding-bottom: 0.1em;
  background-position-x: center;
  background-position-y: bottom;
}
p {
  text-align: inherit;
  font-size: 22px;
  line-height: 30px;
  color: rgba(0,0,0,.84);
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
header {
  text-align: right;
}
.nvb { grid-area: nvb; }
.bs { grid-area: bs; }
.lbs { grid-area: lbs; }
.mbs { grid-area: mbs; }
.rbs { grid-area: rbs; }
.bf { grid-area: bf; }

.bgc {
  display: grid;
  grid-template-areas:
  'nvb'
  'bs'
  'mbs'
  'bf';
}

.bgc > div {
  text-align: center;
}
.nvb{
  height: 60px;
  z-index: 1;
}
.bs {
  margin-top: 1em;
  text-align: center;
}
.bs > img{
  width: 100%;
}
@media only screen and (max-width: 771px) {
.bs {
  margin-top: 0;
}
.bs > img{
  width: 100%;
}
}
.bls {grid-area: logo; }
.bun { grid-area: user; }
.bns { grid-area: nav; }

.bnbs {
  display: grid;
  grid-template-areas:
  'logo nav nav nav';
  height:100%;
}

.bnbs > div {
  text-align: center;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}
.bls{
  position:relative;
}
.bls a img{
  position: absolute;
  bottom: 14px;
  right: 0;
  max-width: 16rem;
}
.bnbs .bns{
  position: relative;
}
.bns ul li a{
  color: #0F262B;
  padding-right: 2em;
}
.bns ul li a img{
  padding-left: 0.4em;
}
.bnbs .bun{
  position: relative;
  margin-bottom: 2em;
}
.bun ul{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.bun ul li a{
  color: #0F262B;
  padding-right: 1.8em;
}
.mbs .container {
  margin-top: 2em
}

/* Banner CSS */
#mbimg {
  display: none;
}
@media only screen and (max-width: 771px) {
  .bs img {
    display: none;
  }
  #mbimg {
  display: unset;
  }
}

/* Home CSS */

#container {
  /* This will come into play later */
  perspective: 40px;
}

#logo {
  height: 18em;
  transition: transform 0.5s;
}

#homeMenu {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 6em;
  margin-top: 3em;
  color: #FFFFFF;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

#homeMenu a{
  color: #FFFFFF;
}

.nav-link{
  margin: 0 4em 0 0;
  margin-top: -0.3em;
}

.nav-link:hover{
  background: url("/static/media/menu/path_168.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.nav-item img{
  position: absolute;
  cursor: none;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

.blogpost ul {
 list-style-image: url(/static/media/ul_li/bullet_icon.jpg);
 overflow: hidden;
 font-family: 'Dosis';
 font-size: 22px;
 margin-left: 2rem;
 padding-left: 2rem;
}

.blogpost li {
  float: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
.bnbs > .bun > ul > li > a:hover{
  text-decoration: underline;
}
.bnbs > .bns > ul > li > a:hover{
  text-decoration: underline;
}
canvas {
  position: absolute;
}
/* Mobile Menu */

#blessondNavMobile {
  display: none;
}
#blessondNavMobileMenu {
  display: none;
}
#mobileHamburger {
  padding-right: 0.5em;
}
#closemobleHamburger {
  padding-right: 0.5em;
}
#mobileLogo{
  display:flex;
  align-content: center;
  justify-content: center;
}
#mobileLogo img{
  width: 2.9rem;
}
#closeMobileMenu{
  display: none;
  color: #009E96;
  justify-content: right;
  align-items: center;
  padding-right: 20%;
}
#menuIcon:hover {
    cursor: pointer;
}
.mainHeadingMobile{
  text-align: center;
}
a.categoryHeadingMobileNoCursor, a.categorySecondHeadingMobile {
  background-color: #00a39975;
}
.categorySecondHeadingMobile{
  text-align: left;
  padding-left: 3em !important;
}
.categorySecondHeadingNoCursorMobile{
  text-align: left;
  padding-left: 3em !important;
}

@media only screen and (max-width: 771px), only screen and (max-height: 375px) {
  #blessondNavMobileMenu {
    display: block;
    height: auto;
    border-radius: 0 0 2rem 0;
  }
  body {
    background: #fff;
  }
  .nvb{
    padding-bottom: 0;
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
    position: fixed;
    width: 100%;
  }
  #blessondNavMobile{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #blessondNavMobile > div {
    width: 33%;
    font-size: 20px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
  }
  .bnbs{
    display:none;
  }
  .nvb{
    height: 4rem;
    width: 100%;
    background: #0F262B;
    z-index: 1;
  }
  h1{
    font-family: 'Dosis', Normal;
    font-size: 40px;
    background-size: 60%;
    word-break: break-word;
    background: url(/static/media/heading/underline_h1_mobile.png) no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
  h2{
    font-family: 'Dosis',Normal;
    font-size: 30px;
    word-break: break-word;
  }
  h3{
    font-family: 'Dosis',Normal;
    font-size: 30px;
    word-break: break-word;
  }
}

/* small devices */
@media only screen and (max-height: 630px) {
  #blessondNavMobileMenu {
    height: 86%;
  }
}
.container {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 771px) {
.container{
  width: 93%;
}
}
/* Style The Dropdown Button */
.dropbtn {
  font-size: 18px;
  color: #0F262B;
  font-family: 'Dosis', sans-serif;
  border: none;
  background: none;
}
.dropbtn-b {
  font-size: 18px;
  color: #0F262B;
  font-family: 'Dosis', sans-serif;
  border: none;
  background: none;
}
.dropbtn-c {
  font-size: 18px;
  color: #0F262B;
  font-family: 'Dosis', sans-serif;
  border: none;
  background: none;
}
.dropbtn-d {
  font-size: 18px;
  color: #0F262B;
  font-family: 'Dosis', sans-serif;
  border: none;
  background: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown, .nodown, .dropdown-b, .dropdown-c, .dropdown-d {
  position: relative;
  display: inline-block;
  width: 7rem;
  padding: 0.7rem 0.7rem;
}
.dropdown:hover, .dropdown-b:hover, .dropdown-c:hover, .dropdown-d:hover, .nodown:hover{
  background: #BA1A63;
  cursor: pointer;
}

.nodown:hover .dropbtn {
    color: #fff;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content-b, .dropdown-content-c, .dropdown-content-d  {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 8.5rem;
  box-shadow: 3px 3px 2px #0F262B33;
  z-index: 1;
  margin-top: 12px;
  left:0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-b a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-c a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-d a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #BA1A631A;
}

/* Change color of dropdown links on hover */
.dropdown-content-b a:hover {
  background-color: #BA1A631A;
}
.dropdown-content-c a:hover {
  background-color: #BA1A631A;
}
.dropdown-content-d a:hover {
  background-color: #BA1A631A;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #fff;
}
/* Show the dropdown menu on hover */
.dropdown-b:hover .dropdown-content-b {
  display: block;
}
.dropdown-b:hover .dropbtn-b {
  color: #fff;
}
.dropdown-c:hover .dropdown-content-c {
  display: block;
}
.dropdown-c:hover .dropbtn-c {
  color: #fff;
}
.dropdown-d:hover .dropdown-content-d {
  display: block;
}
.dropdown-d:hover .dropbtn-d {
  color: #fff;
}
.drops {
  position:absolute;
  padding-left: 2em;
  bottom:0;
}
.drops > .dropdown::after {
  content: url(/static/media/nav/arrow_down_black.png);
}
.dropdown:hover::after {
  filter:invert(100%);
  rotate:
}
.drops > .dropdown-b::after {
  content: url(/static/media/nav/arrow_down_black.png);
}
.dropdown-b:hover::after {
  filter:invert(100%);
  rotate:
}
.drops > .dropdown-c::after {
  content: url(/static/media/nav/arrow_down_black.png);
}
.dropdown-c:hover::after {
  filter:invert(100%);
  rotate:
}
.drops > .dropdown-d::after {
  content: url(/static/media/nav/arrow_down_black.png);
}
.dropdown-d:hover::after {
  filter:invert(100%);
  rotate:
}
.bls > img {
  padding-bottom: 0.9em;
}

/* Footer Section */
.fbls { grid-area: fbls; }
.bcls { grid-area: bcls; }
.bscmbs { grid-area: bscmbs; }
.bcrs { grid-area: bcrs; }
.cbsf { grid-area: cbsf; }

.bfsc {
  display: grid;
  grid-template-areas:
  'fbls fbls fbls fbls'
  'bcls bscmbs bscmbs bcrs'
  'bcls cbsf cbsf bcrs';
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.fbls{
  background: url(/static/media/footer/normal_line_footer.jpg) no-repeat;
  background-position-y: center;
  background-position-x: center;
}
.bfsc > div {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}
.bcrs > a{
  display: block;
  color: #0F262B;
  padding: 10px 0;
}
.bcls > a{
  display: block;
  color: #0F262B;
  padding: 10px 0;
}
.bcrs {
  position: relative;
}
.bcls {
  position: relative;
}
.cbsf{
  font-family: 'Alegreya Sans', sans-serif !important;
  font-size: 18px !important;
  line-height: 1.5 !important;
  background: url(/static/media/footer/normal_line_footer_bottom.jpg) no-repeat;
  background-position-y: top;
  background-position-x: center;
}
.bscmbs > img {
  padding: 0 2em;
}
.bscmbs {
  padding-bottom: 0;
}
.cbsf{
  color:#BA1A63;
  padding-top: 100px !important;
}

@media only screen and (max-width: 771px) {
  .bfsc {
    display: grid;
    grid-template-areas:
    'fbls'
    'bscmbs'
    'bcls'
    'bcrs'
    'cbsf';
    grid-gap: 0px;
    padding: 0;
    margin-bottom: 0;
  }
  .cbsf{
    background: none;
    background-color: #BA1A63;
    color: #fff;
    padding: 20px 0 !important;
  }
  .fbls {
    background: url(/static/media/footer/mobile_line_footer.png) no-repeat;
    background-position-y: center;
    background-position-x: center;
  }
  .fbls > img{
    width: 15rem;
  }
  .bscmbs > img {
    padding: 0 1.7em;
  }
  .bcls{
    padding-bottom: 0 !important;
    padding-top: 4rem !important;
    background: url(/static/media/footer/mobile_line_footer_bottom.jpg) no-repeat;
    background-position-y: top;
    background-position-x: center;
  }
  .bcrs {
    padding-top: 0 !important;
  }

}

/* Contact Form */

#contact_form_post {
  text-align: center;
}
#contact_form_post select {
  width: 47%;
}
#contact_form_post input {
  width: 47%;
}
#contact_form_post textarea {
  width: 47%;
  padding: 1.5%;
  border-radius: 18px;
  resize: none;
  font-family: Alegreya Sans;
  font-size: 18px;
  line-height: 1.5;
}
#contact_form_post .row .col-4 {
  text-align: left;
  margin-left: 25%;
}
@media only screen and (max-width: 771px) {
  #contact_form_post select {
    width: 90%;
  }
  #contact_form_post input {
    width: 90%;
  }
  #contact_form_post textarea {
    width: 90%;
  }
  #contact_form_post .row .col-4 {
    text-align: left;
    margin-left: 5%;
  }
}
form input {
  padding-right: 1.5%;
  padding-left: 1.5%;
}
input {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  border-width: 0.5px;
}
.captcha {
  display: block;
  margin: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#id_captcha_1 {
  width: auto !important;
}
.sfbsfcon-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfcon {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfcon select {
  display: none; /*hide original SELECT element: */
}
.slitcon {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0px 0px 18px 18px;
  overflow-y: scroll;
}
#catsfbsf > .slitcon {
  overflow-y: unset;
  height: auto;
}
.slitcon div {
  padding: 6px 10px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-right-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #0F262B4D;
  cursor: pointer;
}
.slitcon div:last-of-type{
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: #0F262B4D;
  border-radius: 0px 0px 18px 18px;
}
#catsfbsf > .slitcon div:last-of-type {
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: #0F262B4D;
  border-radius: 0 0 18px 18px;
}
.slitcon div:hover, .swasd {
  background-color: #C7B22E20;
}
.sfbsfcon {
  width: 50%;
}
@media only screen and (max-width: 771px){
  .sfbsfcon{
    width: 90%;
  }
  form button {
    width: 11rem !important;
  }
  #contact_form_post {
    padding-right: 10px;
    padding-left: 10px;
  }
  #contact_form_post textarea {
    padding: 10px;
  }
}
form button, a button {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  box-shadow: 0 4px #7E1444;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background: #BA1A63;
  border-width: 0.5px;
  color: #fff;
  border-color: #81124557;
  margin: 1rem;
}
form button:hover, a button:hover {
  transform: translate(0, 1.5px);
  box-shadow: 0 2.5px #7E1444;
  cursor: pointer;
}
.form-actions {
  padding-top: 1em;
}
a button {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 700px) {
  a button {
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  a button {
    width: 70%;
  }
}
@media only screen and (max-width: 200px) {
  a button {
    width: auto;
  }
}
#contact_form_post p {
  line-height: 5px;
  font-size: 18px;
}
#contact_form_post {
  padding-right: 1.5%;
  padding-left: 1.5%;
}
/* Teacher Promo CSS */
.tnmhl { grid-area: tnmhl; }
.tpcf { grid-area: tpcf; }
.tbt { grid-area: tbt; }
.htyt { grid-area: htyt; }
.yt_id_1 { grid-area: yt_id_1; }
.yt_id_1 { grid-area: yt_id_2; }
.tnmc {
  display: grid;
  grid-template-areas:
  'tnmhl tnmhl'
  'tpcf tbt'
  'htyt htyt'
  'yt_id_1 yt_id_2';
  grid-gap: 10px;
  padding: 10px;
}

.tnmc > div {
  text-align: center;
  padding: 20px 0;
}
.tbt {
  background: url(/static/media/boxes/box_yellow_01.png);
  margin-left: 2em;
  background-repeat: no-repeat;
  background-size: cover;
}

.info_text {
  padding-top: 1em;
  margin: auto;
  width: 80%;
}
.tpcf {
  width: auto;
  margin-right: 32px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.tpcflsc {
  background: url(/static/media/boxes/border_green_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.tpcfptr {
  background: url(/static/media/boxes/border_green_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.tpcf img{
  max-width: 420px;
  padding-top: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.8em;
}
.tbt {
  width: auto;
}
.tnmc {
  margin-left: 7%;
  margin-right: 7%
}
.tpcfptr img {
  padding-right: 0.5em;
  padding-top: 2.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  max-width: 300px;
}

@media only screen and (max-width: 1200px) {
.tnmc{
  grid-template-areas:
  'tnmhl'
  'tpcf'
  'tbt'
  'htyt'
  'yt_id_1'
  'yt_id_2';
}
}

/* teaching material */
.tmcb {
  display: grid;
  grid-template-areas:
  'mti mti mti';
  grid-column-gap: 5%;
  grid-row-gap: 68px;
  padding: 10px;
  justify-content: center;
}
@media only screen and (max-width: 870px) {
  .tmcb {
    grid-template-areas:
    'mti';
  }
  .tnmc {
    margin-left: 0;
    margin-right: 0;
  }
  .info_text {
    width: 70%;
  }
}
/* Mobile */
@media only screen and (max-width: 772px){
  .tnmc {
    grid-gap: 0;
    padding: 0;
    display:unset;
  }
  .tbt {
   margin-left: 0;
   background: #d1c062;
   padding-bottom: 30px;
  }
  .info_text {
    width: 90%;
  }
  .tpcflsc img {
   width: 83%;
  }
  .tpcf {
    margin-right:0;
  }
}
.tmcb > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.tmcbg {
  background: url(/static/media/boxes/box_teaching_material_green_01.png);
  max-width: 28rem;
  background-repeat: no-repeat;
}
.tmcby {
  background: url(/static/media/boxes/box_teaching_material_yellow_01.png);
  max-width: 28rem;
  background-repeat: no-repeat;
}
/* YT Teacher */
.yt_id_1 iframe {
  width: 560px;
  height: 315px;
}
.yt_id_2 iframe {
  width: 560px;
  height: 315px;
}
@media only screen and (max-width: 560px){
  .yt_id_1 iframe {
    width: 100%;
    height: 300px;
  }
  .yt_id_2 iframe {
    width: 100%;
    height: 300px;
  }
}
.mti img {
  width: 75%;
}
.mti h2 {
  background: url(/static/media/boxes/underline_doted_white.png) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  color: #fff;
}
.tctm {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.tctm p {
  color: #fff;
}
.tmcon {
  width: 98%;
  margin: auto;
}
.sfbsf-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsf {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsf select {
  display: none; /*hide original SELECT element: */
}
.sfbsfnr-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfnr {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfnr select {
  display: none; /*hide original SELECT element: */
}

.sfbsfpos-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfpos {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfnos select {
  display: none; /*hide original SELECT element: */
}
.sfbsfnos-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfnos {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfnos select {
  display: none; /*hide original SELECT element: */
}

.sese {
  background-color: #fff;
  border-radius: 18px 0 18px 18px;
  box-shadow: 0px 2px 2px 1px #00000005;
}

/* Style the arrow inside the select element: */
.sese:after {
  position: absolute;
  content: url(/static/media/select_field/arrow/arrow_after.png);
  top: 10px;
  right: 25px;
  width: 0;
  height: 0;
}
.sese.slar-active{
  border-radius: 18px 0 0 0;
  box-shadow: none;
}
/* Point the arrow upwards when the select box is open (active): */
.sese.slar-active:before {
  content: url(/static/media/select_field/arrow/arrow_before.png);
  margin-left: -18px;
  margin-right: 8px;
}
.sese.slar-active:after {
  content: '';
}

/* style the items (options), including the selected item: */

.sese {
  padding: 6px 10px;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #BABABAAD;
  cursor: pointer;

}

/* Style items (options): */
.slit {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0px 0px 18px 18px;
  overflow-y: scroll;
  height: 600%;
}

/* Hide the items when the select box is closed: */
.sehi {
  display: none;
}
.swasd:before {
  content: url(/static/media/select_field/arrow/arrow_before.png);
  margin-left: -18px;
  margin-right: 8px;
}
#catsfbsf > .slit {
  overflow-y: unset;
  height: auto;
}
.slit div {
  padding: 6px 10px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-right-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #0F262B4D;
  cursor: pointer;
}
#catsfbsf > .slit div:last-of-type {
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: #0F262B4D;
  border-radius: 0 0 18px 18px;
}
.slit div:hover, .swasd {
  background-color: #C7B22E20;
}

/* Blog CSS */
.tmcbpb {
  background: url(/static/media/boxes/border_box_yellow.png);
  width: 29rem;
  height: 31rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.tmcbpb .mti h2 {
  color: #0F262B;
}
.tmcbpb .mti {
  padding-right: 20px;
  padding-left: 20px;
}
.tmcbpb .mti .tctm {
  margin-left: 20px;
  margin-right: 10px;
}
.tmcbpb .mti .tctm p {
  color: #0F262B;
}
.tmcbpb .mti h2 {
  background: url(/static/media/heading/underline_h1_blog.png) no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}
@media only screen and (max-width: 772px) {
  .tmcbpb {
    background: url(/static/media/boxes/border_box_yellow.png);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 29rem;
    height: 32rem;
  }
}
@media only screen and (max-width: 450px) {
  .tmcbpb {
    background: url(/static/media/boxes/border_box_yellow_mobile.png);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22rem;
    height: 39rem;
  }
}
@media only screen and (max-width: 360px) {
  .tmcbpb {
    background: url(/static/media/boxes/border_box_yellow_mobile.png);
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 570px;
  }
}

/* Blog */
.blogpost img {
  max-width: 100%;
}
table thead tr {
  background-color: #ba1a63;
  color: #fff;
  font-size: 22px;
}

table thead tr th {
  height:3rem;
}
table tbody tr {
  border-bottom: 1px solid #ba1a63;
}
.blogtable {
  overflow-x: scroll;
}
td {
  font-size: 20px;
  height: 2.5rem;
}

/* Hidden Social Media */
.bfsc .bscmbs img {
  display: none;
}
