@import url("https://use.typekit.net/nvs2bby.css");

/* Standard Variables */
$primaryColor:#D11317;
$secondaryColor:#333333;
$thirdColor: #2082a8;

$whiteColor: #FDFDFD;
$bgcolor: $whiteColor;
$blackColor: $secondaryColor;

$textcolor: $secondaryColor;

$firstHeadingFamily:'jaf-bernina-sans-condensed', sans-serif;
$firstHeadingFontSize:43px;
$firstHeadingFontColor:$secondaryColor;
$firstHeadingFontLineHeight:66px;

$secondHeadingFamily:'jaf-bernina-sans-condensed', sans-serif;
$secondHeadingFontSize:39px;
$secondHeadingFontColor:$secondaryColor;
$secondHeadingFontLineHeight:66px;

$thirdHeadingFamily:'jaf-bernina-sans-condensed', sans-serif;
$thirdHeadingFontSize:35px;
$thirdHeadingFontColor:$secondaryColor;
$thirdHeadingFontLineHeight:66px;

$fourthHeadingFamily:'jaf-bernina-sans-condensed', sans-serif;
$fourthHeadingFontSize:31px;
$fourthHeadingFontColor:$secondaryColor;
$fourthHeadingFontLineHeight:35px;

$paragraphFontFamily:'jaf-bernina-sans-condensed', sans-serif;
$paragraphFontSize:1.3rem;
$paragraphFontColor:$secondaryColor;
$paragraphFontLineHeight:2rem;

$menuHeight: 4.5rem;
$menuColor: $secondaryColor;
$menuFontSize: 1.3rem;
$menudFontFamily: 'jaf-bernina-sans-condensed', sans-serif;

$mobileMenuFontSize: 29px;
$mobileMenuFontFamily: 'jaf-bernina-sans-condensed', sans-serif;

$linkFontSize: 1.6rem;
$linkColor: $primaryColor;
$linkFontFamily: 'jaf-bernina-sans-condensed', sans-serif;

/* mobile Variables */
$mobileFirstHeadingFontSize:35px;
$mobileSecondHeadingFontSize:35px;
$mobileParagraphFontSize:3vw;
$mobileLinkFontSize: 25px;
$mobileMenuFontSize: 25px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
}
html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  padding: env(safe-area-inset); // Overflow IPhoneXS
  margin: 0;
  scroll-behavior: smooth;
}
footer{
  clear: both;
  position: relative;
  height:40px;
}
#animation_container, #_preload_div_ {
  position:absolute;
  margin:auto;
  left:0;right:0;
}
#animation_container > div {
  transition: opacity 2s linear;
}

/* Fade In CSS */
.fader {
  -moz-transition: opacity 0.7s linear;
  -o-transition: opacity 0.7s linear;
  -webkit-transition: opacity 0.7s linear;
  transition: opacity 0.7s linear;
}

#bgx {
  opacity: 0;
}
@media only screen and (max-width: 771px) {
  #bgx{
    opacity: 1;
  }
  #animation_container {
    visibility: hidden;
  }
}
a {
  color: $linkColor;
  text-decoration: none;
  font-family: $paragraphFontFamily;
}
a:hover {
  text-decoration: underline;
}
.section.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 111;
  display: flex;
  height: 75px;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  background-color: hsla(0,0%,100%,.94);
}

.logo {
  left: -2px;
  float: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fade {
  opacity: 0;
  transform: scale(1)rotate(0);
  transition: all 1.2s linear;
}

.fade.animate {
  opacity: 1;
  transform: scale(1) rotate(0);
}
.fall {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1.2s ease-out;
}

.fall.animate {
  opacity: 1;
  transform: translateY(0);
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $whiteColor;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  top: 25%;
  width: 100%;
  padding-top: 20%;
  text-align: left;
  color: $whiteColor;
  font-size: $mobileMenuFontSize;
  font-family: $mobileMenuFontFamily;
  overflow-x: scroll;
}

.overlay a {
  padding: 0.74rem;
  padding-right: 4rem;
  text-align: left;
  text-decoration: none;
  display: block;
  color: $menuColor;
  transition: 0.3s;
  padding-left: 1em;
}

.overlay-content{
  padding-top: 8%;
}
.overlay-content a{
  font-size: $mobileMenuFontSize;
  font-family: $secondHeadingFamily;
}
.overlay .closebtn {
  position: absolute;
  top: 2%;
  right: 0;
  font-size: 60px;
}
#cross-burger-gallery{
  width: 3rem;
  margin-top: 2rem;
}
#cross-burger-students{
  width: 2rem;
  margin-top: 1rem;
}
/* Mobile Overlay */
@media only screen and (max-width: 1200px) {
  .overlay-content{
    padding-top: 4rem;
  }
  #mks-nav-mobile-menu .overlay-content{
    padding-top: 2rem;
  }
  #mks-nav-mobile-menu a.closebtn{
    top: -29px;
    right: 10px;
  }
  .overlay-content a {
    font-size: 32px;
    line-height: 30px;
  }
  .overlay-content a.categoryHeadingMobileNoCursor{
    font-size: 28px;
    color: $primaryColor;
    margin-left: 3rem;
    line-height: 30px;
  }
  #cross-burger-gallery {
    width: 2rem;
    margin-top: 2rem;
    padding-right: 0rem;
    opacity: 0.9;
  }
  #overlay-image-section svg#cross-burger-gallery{
    margin-top:0;
    margin-right: 1rem;
  }
  .overlay a {
    padding-right: 0;
  }
}

@media only screen and (max-width: 820px) {
  .overlay-content{
    padding-top: 4rem;
  }
  #cross-burger-gallery {
    width: 1.8rem;
    margin-top: 2rem;
    padding-right: unset;
  }
  #closeMobileMenu{
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .overlay-content a {
    font-size: 25px;
  }
  .overlay-content a.categoryHeadingMobileNoCursor{
    font-size: 22px;
  }
}
/* Font */
h1{
  font-family: $firstHeadingFamily;
  font-size: $firstHeadingFontSize;
  color: $firstHeadingFontColor;
  text-align: center;
  font-weight: 600;
}
h2{
  font-family: $secondHeadingFamily;
  font-size: $secondHeadingFontSize;
  color: $secondHeadingFontColor;
  text-align: center;
  padding-bottom: 0.1em;
  font-weight: 600;
}
h3{
  font-family: $thirdHeadingFamily;
  font-size: $thirdHeadingFontSize;
  color: $thirdHeadingFontColor;
  text-align: center;
  padding-bottom: 0.1em;
  font-weight: 600;
}
h4{
  font-family: $fourthHeadingFamily;
  font-size: $fourthHeadingFontSize;
  color: $fourthHeadingFontColor;
  text-align: center;
  padding-bottom: 0.1em;
  font-weight: 600;
}
p {
  font-family: $paragraphFontFamily;
  text-align: justify;
  font-size: $paragraphFontSize;
  line-height: $paragraphFontLineHeight;
  color: $paragraphFontColor;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: normal;
}
li {
  font-family: $paragraphFontFamily;
  text-align: inherit;
  font-size: $paragraphFontSize;
  line-height: $paragraphFontLineHeight;
  color: $paragraphFontColor;
  padding-left: 10%;
  padding-right: 0;
  padding-bottom: 2rem;
}
span {
  text-decoration: underline;
}
strong, b {
  font-family: $firstHeadingFamily;
  font-size: $paragraphFontSize;
  font-weight: 600;
}
@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
header {
  display: block;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $whiteColor;
  opacity: 0.98;
  z-index: 2;
}
textarea{
  font-family: $paragraphFontFamily;
  text-align: justify;
  font-size: 18px;
  resize: none;
}
.nvb { grid-area: nvb; }
.bs { grid-area: bs; }
.lbs { grid-area: lbs; }
.mbs { grid-area: mbs; }
.rbs { grid-area: rbs; }
.bf { grid-area: bf; }

.bgc {
  display: grid;
  grid-template-areas:
  'nvb'
  'bs'
  'mbs'
  'bf';
}

.bgc > div {
  text-align: center;
}
.nvb{
  height: $menuHeight;
  z-index: 1;
  transition: height 0.3s ease;
}
.nvb#user_nav{
  height: 70px;
}
.bs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  display: grid;
  grid-auto-columns: 1fr;
  overflow-y: hidden;
  width:80%;
  max-height: 24rem;
  margin-top:4.5rem;
}
.bs > img{
  width: 100%;
  overflow-y: hidden;
}
@media only screen and (max-width: 771px) {
  .bs {
    margin-top: 0;
    width: 100%;
  }
  .bs > img{
    width: 100%;
  }
}
.bls {grid-area: logo; }
.bun { grid-area: user; }
.bns { grid-area: nav; }

.bnbs {
  display: grid;
  grid-template-areas:
  'logo nav nav';
  height:100%;
}
.bnbs > div {
  text-align: center;
  font-size: $menuFontSize;
  font-family: $menudFontFamily;
}
.bls{
  position:relative;
}
.bls a img{
  position: absolute;
  bottom: 20px;
  right: 0;
  max-width: 16rem;
}
.bnbs .bns{
  position: relative;
}
.bns ul li a{
  color: #0F262B;
  padding-right: 2em;
  font-weight: 600;
}
.bns ul li a img{
  padding-left: 0.4em;
  font-weight: 600;
}
.bnbs .bun{
  position: relative;
  margin-bottom: 2em;
}
.bun ul{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.bun ul li a{
  color: #0F262B;
  padding-right: 1.8em;
  font-weight: 600;
}
.mbs .container {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* Banner CSS */
#mbimg {
  display: none;
}
@media only screen and (max-width: 771px) {
  .bs img {
    display: none;
  }
  #mbimg {
    display: unset;
  }
}
/* Home CSS */
#container {
  /* This will come into play later */
  perspective: 40px;
}
#logo {
  height: 18em;
  transition: transform 0.5s;
}

#homeMenu {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 6em;
  margin-top: 3em;
  color: $whiteColor;
  font-family: $paragraphFontFamily;
  font-size: 18px;
}

#homeMenu a{
  color: $whiteColor;
}

.nav-link{
  margin: 0 4em 0 0;
  margin-top: -0.3em;
}

.nav-link:hover{
  background: url("/static/menu/path_168.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.nav-item img{
  position: absolute;
  cursor: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.blogpost ul {
  list-style-image: url(/static/ul_li/bullet_icon.jpg);
  overflow: hidden;
  font-family: $paragraphFontFamily;
  font-size: 22px;
  margin-left: 2rem;
  padding-left: 2rem;
}

.blogpost li {
  float: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
ul#art{
  display: inline-grid;
}
ul#art li{
  display: flex;
}
@media only screen and (min-width: 1000px){
ul#art li:before{
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: transparent url("/static/li/li-icon.svg") no-repeat;
}
}
@media only screen and (max-width: 1000px){
  li{
    padding-left: 0;
    font-size: 22px;
  }
}
.bnbs > .bun > ul > li > a:hover{
  text-decoration: underline;
}
.bnbs > .bns > ul > li > a:hover{
  text-decoration: underline;
}
canvas {
  position: absolute;
}
/* Mobile Menu */

#blessondNavMobile {
  display: none;
  background: $whiteColor;
}
#mks-nav-mobile-menu {
  display: none;
  -webkit-box-shadow: 6px 7px 17px -2px rgba(0,0,0,0.32);
  -moz-box-shadow: 6px 7px 17px -2px rgba(0,0,0,0.32);
  box-shadow: 6px 7px 17px -2px rgba(0,0,0,0.32);
}
#mobileHamburger {
  padding-right: 0.5em;
}
#closemobleHamburger {
  padding-right: 0.5em;
}
#mobileLogo{
  display:flex;
  justify-content: right;
  padding-right: 10px;
  padding-top: 4px;
}
#small-mobile-logo img{
  width: 2.9rem;
}
#medium-mobile-logo img{
  height: 2.9rem;
}
#closeMobileMenu{
  display: none;
  justify-content: right;
  align-items: center;
  padding-right: 0.5rem;
}
#menuIcon{
  margin-left: 2rem;
}
#menuIcon:hover {
  cursor: pointer;
}
.mainHeadingMobile{
  text-align: center;
}
.categorySecondHeadingMobile{
  text-align: left;
  padding-left: 3em !important;
}
.categorySecondHeadingNoCursorMobile{
  text-align: left;
  padding-left: 3em !important;
}
.st0{fill:#009FE4;}
.st1{fill:#FFE500;}
.st2{fill:#00A1E4;}
.st3{fill:#00A0E4;}
.st4{fill:#00A3E6;}
.st5{fill:#00A3E5;}
.st6{fill:#00A2E5;}
.st7{fill:$whiteColor;}
.st8{fill:$primaryColor;}
.st9{fill:#222527;}
.st10{fill:$primaryColor;}
.st11{fill:$blackColor;}
.st12 {fill: $whiteColor;}
.st13 {fill: $primaryColor;}

#mks-logo-svg{
  position: absolute;
  bottom: 10px;
  height: 2.7rem;
  padding-top: 34px;
  padding-left: 60px;
  transition: height 0.3s ease;
}
#user_nav #mks-logo-svg {
    height: 3rem;
}
.bnbs > .bls{
  text-align: left;
}

@media only screen and (max-width: 1200px), only screen and (max-height: 375px) {
  #mks-nav-mobile-menu {
    display: block;
    height: 100%;
  }
  header{
    text-align:left;
  }
  body {
    background: $whiteColor;
    margin-bottom: 0;
  }
  .nvb{
    padding-bottom: 0;
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
    position: fixed;
    width: 100%;
  }
  #blessondNavMobile{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.2rem;
  }
  #blessondNavMobile > div {
    width: 33%;
    font-size: 20px;
    display: inline-grid;
    color: $paragraphFontColor;
    font-family: $linkFontFamily;
  }
  #mks-logo-svg{
    padding-top: 4px;
    position: unset;
  }
  #hamurger-mobile{
    padding-top: 6px;
  }
  .bnbs{
    display:none;
  }
  .nvb{
    height: 4rem;
    width: 100%;
    background: $whiteColor;
    z-index: 1;
  }
  #mbimg{
    padding-top: 0;
  }
  #small-mobile-logo{
    display:none;
  }
  #medium-mobile-logo{
    display:block
  }
  .bs {
  margin-top: 75px;
  }
  #mks-logo-svg{
    padding-left: unset;
  }
}
@media only screen and (max-width: 1120px) {
  h1{
    font-size: 28px;
    word-break: break-word;
  }
  h2, h3{
    font-size: 26px;
    word-break: break-word;
  }
  h4{
    font-size: 22px;
    word-break: break-word;
  }
  p, .slitcon, #dsgvo-text p, #dsgvo-text a, strong, b {
    font-size: 20px;
    line-height: 35px;
    padding-left: 0;
    padding-right: 0;
  }
  li{
  font-size: 20px;
  line-height: 35px;
  }
}
@media only screen and (max-width: 700px), only screen and (max-height: 375px) {
  .bcmk{
    grid-template-areas: 'left''right';
    grid-template-columns: none !important;
  }
  .bcmk > .middle{
    display: none !important;
  }
  header, .nvb{
    position: absolute;
  }
}
.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 771px) {
  .container{
    width: 93%;
  }
}
@media only screen and (max-width: 700px) {
  h1{
    font-size: 24px;
  }
  h2, h3{
    font-size: 22px;
  }
  h4{
    font-size: 20px;
  }
  p, .slitcon, #dsgvo-text p, #dsgvo-text a, strong, b {
    font-size: 18px;
    line-height: 28px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* Style The Dropdown Button */
.dropbtn, .dropbtn-b, .dropbtn-c, .dropbtn-d, .dropbtn-e {
  font-size: $linkFontSize;
  font-family: $linkFontFamily;
  border: none;
  background: none;
  width:auto;
  font-weight: 600;
}
.dropbtn:hover, .dropbtn-b:hover, .dropbtn-c:hover,
.dropbtn-d:hover, .dropbtn-e:hover {
  cursor:pointer;
}
.dropbtn-e:hover .st11{
  fill: $primaryColor;
}
.dropdown, .nodown, .dropdown-b, .dropdown-c, .dropdown-d, .dropdown-e {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0.75rem 1.3rem;
  font-weight: 300;
}
.dropdown a, .nodown a, .dropdown-b a, .dropdown-c a, .dropdown-d a, .dropdown-e a {
  text-decoration: none;
  color: $menuColor;
  font-size: $menuFontSize;
  font-family: $menudFontFamily;
  padding: 1rem;
  font-weight: 300;
}
.dropdown > button:hover,
.dropdown-b > button:hover,
.dropdown-c > button:hover,
.dropdown-d > button:hover,
.dropdown-e > button:hover{
  cursor: pointer;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content-b,
.dropdown-content-c, .dropdown-content-d,
.dropdown-content-e  {
  display: none;
  position: absolute;
  background-color: $whiteColor;
  min-width: 8.5rem;
  box-shadow: 3px 3px 2px #0F262B33;
  z-index: 1;
  margin-top: 1rem;
  left:0;
}
.dropdown-content-d,{
  left: 1.25rem;
}
/* Links inside the dropdown */
.dropdown-content a, .dropdown-content-d a, .dropdown-content-e a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 34px;
}
.dropdown-content-b a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-c a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-d a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content-e a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 34px;
}
.dropdown-content-e{
  margin-top: 2rem;
  left: 0.75rem;
}
#UserNav .dropdown-content{
  left: 0rem;
  top: 1.75rem;
}
#UserNav .dropdown-content-b{
  left: 1.6rem;
  top: 1.75rem;
}
#UserNav .dropdown-content-c{
  left: -0.5rem;
  top: 1.75rem;
}
@media only screen and (max-width: 1340px) {
  .dropdown > button > a,
  .nodown > button > a,
  .dropdown-b > button > a,
  .dropdown-c > button > a,
  .dropdown-d > button > a,
  .dropdown-e > button > a{
    padding: 1rem,
  }
  .dropdown, .nodown, .dropdown-b, .dropdown-c, .dropdown-d, .dropdown-e {
      padding: 0.75rem 0.2rem;
  }
  .bns{
    width: 45rem;
    margin-left: auto;
  }
  .dropdown-content-e {
    left: 0;
  }
}
.dropdown-hover-section, .dropdown-hover-section-b,
.dropdown-hover-section-c, .dropdown-hover-section-d,
.dropdown-hover-section-e{
  display: none;
  width: auto;
  height: 0.25rem;
  margin-bottom: -2rem;
}
.dropdown-hover-section, .dropdown-hover-section-d,
.dropdown-hover-section-b, .dropdown-hover-section-e,{
  background-color:$primaryColor;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-hover-section {
  display: block;
  opacity: 1;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-duration: 1s;
  margin-left: 20px;
  margin-right: 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown-b:hover .dropdown-hover-section-b {
  display: block;
  opacity: 1;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-duration: 1s;
  margin-left: 20px;
  margin-right: 20px;
}
.dropdown-b:hover .dropdown-content-b {
  display: block;
}
.dropdown-c:hover .dropdown-content-c {
  display: block;
}
.dropdown-c:hover .dropdown-hover-section-c{
  display: block;
  opacity: 1;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-duration: 1s;
  margin-left: 20px;
  margin-right: 20px;
}
#user_nav .dropdown-b:hover a{
  color: $primaryColor;
}
.dropdown-d:hover .dropdown-hover-section-d {
  display: block;
  opacity: 1;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-duration: 1s;
  margin-left: 20px;
  margin-right: 20px;
}
.dropdown-d:hover .dropdown-content-d {
  display: block;
}
#user_nav .dropdown-d:hover a{
  color: $primaryColor;
}
.dropdown-e:hover .dropdown-hover-section-e {
  display: block;
  opacity: 1;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-duration: 1s;
  margin-left: 20px;
  margin-right: 20px;
}
.dropdown-e:hover .dropdown-content-e {
  display: block;
}
.drops {
  position: absolute;
  padding-right: 3em;
  bottom: 10px;
  right: 0;
}
#UserNav .drops{
  padding-right: 1.2em;
}
.bls > img {
  padding-bottom: 0.9em;
}

/* Footer Section */
.fbls { grid-area: fbls; }
.fbrs { grid-area: fbrs; }
.bcls { grid-area: bcls; }
.bcrs { grid-area: bcrs; }
.cbsf { grid-area: cbsf; }

.bfsc {
  display: grid;
  grid-template-areas:
  'bcls cbsf cbsf bcrs'
  'fbls fbls fbrs fbrs';
  grid-gap: 0px;
  margin-bottom: 0;
}
.fbls {
  background-color: $whiteColor;
  height: 50px;
}
.fbrs {
  background-color: #FED700;
  height: 50px;
}
.fbls > a > svg, .fbrs > a > img {
  max-height: 100%;
  padding-right: 2em;
}
.bfsc{
  background-color: $blackColor;
}
.bfsc > div {
  text-align: center;
  padding: 10px 0;
  font-size: &$linkFontSize;
  font-family: $linkFontFamily;
}
.bcrs > a{
  display: block;
  color: #0F262B;
  padding: 10px 0;
}
.bcls > a{
  display: block;
  color: #0F262B;
  padding: 10px 0;
}
.bcls > div{
  margin:auto;
}
.bcrs {
  position: relative;
}
.bcls {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
}
.bcls > a{
  padding: 0;
}
@media only screen and (min-width: 772px){
  .bcls > a{
    padding: 0 0 0 1rem;
  }
  .fbls#stadtlogo, .fbrs#noelogo{
    width: 50vw
  }
}
.bcls > a > img{
  height: 36px;
  width: auto;
  padding-top: 20px;
  opacity: 65%;
}
.bcls > a > img:hover{
  opacity: 100%;
}
.cbsf{
  font-family: $linkFontFamily;
  font-size: 18px !important;
  line-height: 1.5 !important;
  color:$whiteColor;
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  text-align: center !important;
}
@media only screen and (max-width: 771px) {
  .cbsf{
    font-size: 5vw !important;
  }
}
.bcmk {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bcmk > div {
  text-align: center;
  color: $whiteColor;
  height: 400px;
}
.bcmk > .left{
  background: $primaryColor;
  background: -moz-linear-gradient(322deg, rgba(220,20,60,1) 0%, rgba(196,22,56,1) 100%);
  background: -webkit-linear-gradient(322deg, rgba(220,20,60,1) 0%, rgba(196,22,56,1) 100%);
  background: linear-gradient(322deg, rgba(220,20,60,1) 0%, rgba(196,22,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc143c",endColorstr="#c41638",GradientType=1);
}
.bcmk > .right {
  background: $thirdColor;
  background: -moz-linear-gradient(56deg, rgba(32,130,168,1) 0%, rgba(33,120,154,1) 100%);
  background: -webkit-linear-gradient(56deg, rgba(32,130,168,1) 0%, rgba(33,120,154,1) 100%);
  background: linear-gradient(56deg, rgba(32,130,168,1) 0%, rgba(33,120,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2082a8",endColorstr="#21789a",GradientType=1);
}
.bcmk > .middle{
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
}
.bcmk > .middle > img{
  object-fit: contain;
}
.bcmk section{
  margin-top: 12rem;
  padding: 10px 12px 10px 12px;
  border: solid 2px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bcmk .left section:hover, .bcmk .right section:hover{
  background-color: $whiteColor;
  box-shadow: inset inset 0px 0px 10px 0px #22252836;
  -webkit-box-shadow: inset 0px 0px 10px 0px #22252836;
  -moz-box-shadow: inset 0px 0px 10px 0px #22252836;
  -o-box-shadow: inset 0px 0px 10px 0px #22252836;

}
.bcmk .left section:hover a{
  color: $primaryColor;
  text-decoration: none;
}
.bcmk .left section a, .bcmk .right section a{
  color: $whiteColor;
  font-family: $firstHeadingFamily;
  font-size: $linkFontSize;
}
@media only screen and (max-width: 700px), only screen and (max-height: 375px) {
  .bcmk .left section a, .bcmk .right section a{
    font-size: 6vw;
}
}
.bcmk .right section:hover a{
  color: $thirdColor;
  text-decoration: none;
}
@media only screen and (max-width: 800px){
  .cbsf{
    font-size: 3vw !important;
  }
}
@media only screen and (max-width: 771px) {
  .bcls, .bcrs{
    display:none;
  }
  .bfsc {
    display: grid;
    grid-template-areas:
    'fbls'
    'fbrs'
    'cbsf';
    grid-gap: 0px;
    padding: 0;
    margin-bottom: 0;
  }
  .cbsf{
    background: none;
    background-color: $blackColor;
    color: $whiteColor;
    padding: 20px 0 !important;
    width: 100vw;
  }
  .fbls > svg, .fbrs > img{
    max-height: 3.5rem;
  }
  .bcmk > div{
    height: 200px;
  }
  .bcmk section {
    margin-top: 4rem;
  }
  .bcmk{
    width: 100%;
  }
}

@media only screen and (max-width: 545px) {
  #small-mobile-logo{
    display:block;
    padding-top: 4px;
  }
  #medium-mobile-logo{
    display:none;
  }
}
/* Contact Form */

#contact_form_post, #event_form_post {
  text-align: left;
}
#contact_form_post select, #event_form_post select {
  width: 47%;
}
#contact_form_post input, #event_form_post input {
  width: 47%;
}
#contact_form_post textarea, #event_form_post textarea {
  width: 47%;
  padding: 1.5%;
  resize: none;
  font-family: $paragraphFontFamily;
  font-size: $paragraphFontSize;
  line-height: 1.5;
  border: 1px solid;
  border-color: #22252854;
}
#contact_form_post .sfbsfcon, #event_form_post .sfbsfcon{
  margin-left:0;
}
@media only screen and (min-width: 771px){
#contact_form_post .form-actions, #event_form_post .form-actions{
  text-align: center;
  width:50%;
}
#contact_form_post button, #event_form_post button{
  width:50%;
  max-width: 15rem;
}
}
@media only screen and (max-width: 771px) {
  #contact_form_post select, #event_form_post select {
    width: 90%;
  }
  #contact_form_post input, #event_form_post input {
    width: 90%;
  }
  #contact_form_post textarea, #event_form_post textarea {
    width: 90%;
  }
  #contact_form_post .row .col-4, #event_form_post .row .col-4 {
    text-align: left;
    margin-left: 5%;
  }
}
form input {
  padding-right: 1.5%;
  padding-left: 1.5%;
}
input {
  font-family: $paragraphFontFamily;
  font-size: 18px;
  width: 40%;
  height: 40px;
  background: $whiteColor;
  border-width: 0.5px;
  border-width: 1px;
  border-color: #22252854;
}
.captcha {
  display: block;
  margin: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#id_captcha_1 {
  width: auto !important;
}
.sfbsfcon-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfcon {
  position: relative;
  font-family: $paragraphFontFamily;
  font-size: $paragraphFontSize;
  color: $blackColor;
  display: inline-block;
  width: 11%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfcon select {
  display: none; /*hide original SELECT element: */
}
.slitcon {
  position: absolute;
  background-color: $whiteColor;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-y: scroll;
  max-height: 20rem;
}
#catsfbsf > .slitcon {
  overflow-y: unset;
  height: auto;
}
.slitcon div {
  padding: 10px 10px;
  cursor: pointer;
}

#catsfbsf > .slitcon div:last-of-type {
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: #22252854;
}

.sfbsfcon {
  width: 50%;
}
@media only screen and (max-width: 1024px){
  #contact_form_post textarea, #event_form_post textarea,
  #contact_form_post input, #event_form_post input {
    width: 92%;
  }
  #contact_form_post .sfbsfcon, #event_form_post .sfbsfcon{
    width: 95%;
  }
}
@media only screen and (max-width: 771px){
  .sfbsfcon{
    width: 90%;
  }
  form button {
    width: 11rem !important;
  }
  #contact_form_post, #event_form_post {
    padding-right: 10px;
    padding-left: 10px;
  }
  #contact_form_post textarea, #event_form_post textarea {
    padding: 10px;
  }
}
form button, a button, button.button {
  font-family: $linkFontFamily;
  font-size: $linkFontSize;
  box-shadow: 0 4px #BD2123;
  width: 20%;
  height: 50px;
  background: $primaryColor;
  border-width: 0.5px;
  color: $whiteColor;
  border-color: #FF1B1E;
  margin: 1rem;
  font-weight: 600;
}
form button:hover, a button:hover, button.button:hover {
  transform: translate(0, 1.5px);
  box-shadow: 0 2.5px #BD2123;
  cursor: pointer;
}
.form-actions {
  padding-top: 1em;
}
a button {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#button-login{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media only screen and (max-width: 700px) {
  a button {
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  a button {
    width: 70%;
  }
}
@media only screen and (max-width: 200px) {
  a button {
    width: auto;
  }
}
#contact_form_post p, #event_form_post p, {
  line-height: 5px;
  font-size: $paragraphFontSize;
  padding: 10px 0;
}
#event_form_post p{
  margin-top:0;
}
.sese{
  font-size: $paragraphFontSize;
}
#contact_form_post .slitcon, #event_form_post .slitcon{
  border: 1px solid #22252854;
  border-top: none;
}
#contact_form_post p, #event_form_post p {
  padding-left: 0;
  margin-bottom: 4px;
  font-weight: 600;
  font-family: 'jaf-bernina-sans-condensed', sans-serif;;
}
.contact_form_grid_container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}
.contact_form_grid_container > section > p{
  margin:0;
}
@media only screen and (max-width: 900px){
  .contact_form_grid_container{
    grid-gap: 2rem;
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 800px){
  .contact_form_grid_container{
  grid-template-columns: auto;
  }
  .contact_form_grid_container p{
    text-align: left;
  }
}
/* Sign In Form CSS */
#signin_form_post p{
  padding-left: 0;
  margin-bottom: 4px;
  font-weight: bolder;
  font-family: 'jaf-bernina-sans-condensed', sans-serif;;
}
#signin_heading{
  border: none;
  color: $blackColor;
}
#signin_form_post h2{
  text-align: left;
  color: $primaryColor;
}
#signin_form_post .sfbsfcon{
  margin-left:0;
}
#signin_form_post input{
  width: 50%;
}
#signin_form_post .sfbsfcon{
  width: 100%;
}
#signin_form_post .sese{
  width: 50%;
  margin-right: 0;
  padding-right: 1.5%;
  padding-left: 1.5%;
}
#signin_form_post .slitcon{
  overflow-x: hidden;
  width:50%;
  padding-right: 3%;
  border: 1px solid #22252854;
  border-top: none;
  max-height: 21rem;
}
#signin_form_post .slitcon > div{
  margin-right: -6%;
}
#signin_form_post button{
  margin-left: 0;
}

@media only screen and (max-width: 1024px) {
  #signin_form_post input,
  #signin_form_post textarea, {
    width:95%
  }
  #signin_form_post .sese, #signin_form_post .slitcon {
    width: 95%;
  }
  #signin_form_post .form-actions{
    text-align: center;
  }
}
/* Teacher Promo CSS */
.tnmhl { grid-area: tnmhl; }
.tpcf { grid-area: tpcf; }
.tbt { grid-area: tbt; }
.htyt { grid-area: htyt; }
.yt_id_1 { grid-area: yt_id_1; }
.yt_id_1 { grid-area: yt_id_2; }
.tnmc > div {
  text-align: center;
}
.tnmc{
  display: grid;
  grid-template-areas: 'tpcf' 'tnmhl' 'tbt' 'htyt' 'yt_id_1' 'yt_id_2';
  border: solid 1px #2225281c;
  -webkit-box-shadow: 6px 7px 17px -2px #22252829;
  -moz-box-shadow: 6px 7px 17px -2px #22252829;
  box-shadow: 6px 7px 17px -2px #22252829;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.teaching-name > h3{
  margin-bottom: 0;
  margin-top: 0;
}
.grtnmc {
  display: none;
  opacity: 0;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  transition: opacity .5s ease;
}
.grtnmc > div{
  grid-gap: 1rem;
}
.icc-tpcfptr{
  overflow: hidden;
  height: 22rem;
  width: 18rem;
}
.info-text{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.info-text > p{
  padding:0;
  margin: 0;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 18rem;
  text-align: center;
}
.info-text > a{
  font-size: $linkFontSize;
}
.icc-tpcfptr{
  border-bottom-width: 1rem;
  border-bottom-style: solid;
  border-color:$primaryColor;
}
.tpcf {
  width: auto;
  margin-right: 32px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.tpcflsc {
  background: url(/static/boxes/border_green_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.tpcf img{
  max-width: 420px;
  padding-top: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.8em;
}
.tnmc {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  height: 42rem;
  max-width: 18rem;
  margin-bottom: 2rem;
}
.heading-teaching{
  color:$primaryColor;
  text-align: left;
}
@media only screen and (max-width: 800px) {
  .heading-teaching{
    text-align: center;
  }
}
.tpcfptr img {
  max-width: 100%;
}
.tpcfptr img.square {
  max-height: 100%;
  max-width: unset;
}
.tbt > .info-text{
  height:8rem;
  word-break: break-word;
}
@media only screen and (max-width: 1400px) {
  .grtnmc {
      margin-left: -50px;
      margin-right: -50px;
  }
}
@media only screen and (max-width: 1250px) {
  .grtnmc {
    margin-left: -22px;
    margin-right: -22px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .grtnmc {
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
  .tnmc{
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 585px) {
  .grtnmc {
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}
/* teaching material */
.tmcb {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 8vw;
  padding: 10px;
  justify-content: center;
}
@media only screen and (max-width: 870px) {
  .tmcb {
    grid-template-columns: auto;
  }
  .tnmc {
    margin-left: 0;
    margin-right: 0;
  }
}
/* Mobile */
@media only screen and (max-width: 772px){
  .tnmc {
    grid-gap: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .tpcflsc img {
    width: 83%;
  }
  .tpcf {
    margin-right:0;
  }
}
.tmcb > div {
  text-align: center;
  padding: 20px 0;
}
.tmcb > div > p{
  text-align: left;
}
.tmcbg {
  max-width: 28rem;
  background-repeat: no-repeat;
}
.tmcby {
  max-width: 28rem;
  background-repeat: no-repeat;
}
/* YT Teacher */
.yt_id_1 iframe {
  width: 560px;
  height: 315px;
}
.yt_id_2 iframe {
  width: 560px;
  height: 315px;
}
@media only screen and (max-width: 560px){
  .yt_id_1 iframe {
    width: 100%;
    height: 300px;
  }
  .yt_id_2 iframe {
    width: 100%;
    height: 300px;
  }
}
.mti{
  margin-left: auto;
  margin-right: auto;
}
.mti img {
  max-height: 40rem;
  max-width: 100%;
}
.mti > a:hover{
  text-decoration: underline 5px;
}
#pdf-icon-download{
  max-width: 8rem;
}
#pdf-icon-download .st0{
  fill: $blackColor;
}
.tmcon {
  width: 98%;
  margin: auto;
}
.sfbsf-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsf {
  position: relative;
  font-family: $paragraphFontFamily;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsf select {
  display: none; /*hide original SELECT element: */
}
.sfbsfnr-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfnr {
  position: relative;
  font-family: $paragraphFontFamily;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfnr select {
  display: none; /*hide original SELECT element: */
}

.sfbsfpos-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfpos {
  position: relative;
  font-family: $paragraphFontFamily;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfnos select {
  display: none; /*hide original SELECT element: */
}
.sfbsfnos-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsfnos {
  position: relative;
  font-family: $paragraphFontFamily;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sfbsfnos select {
  display: none; /*hide original SELECT element: */
}

.sese {
  background-color: $whiteColor;
  box-shadow: 0px 2px 2px 1px #00000005;
}

/* Style the arrow inside the select element: */
.sese:after {
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 12px;
  right: 10px;
}
.sese.slar-active{
  box-shadow: none;
  border-bottom: none;
}
/* Point the arrow upwards when the select box is open (active): */
.sese.slar-active:before {
  content: none;
  background-image: unset;
  background-size: 100% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  right: 1%;
}
.sese.slar-active:after {
  content: '';
  background-image: url('/static/selectfield/arrow_up.svg');;
}
/* style the items (options), including the selected item: */

.sese {
  padding: 6px 10px;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  cursor: pointer;
  border-color: #22252854;
}
.sese:after{
  content: '';
  background-image: url('/static/selectfield/arrow_down.svg')
}

/* Style items (options): */
.slit {
  position: absolute;
  background-color: $whiteColor;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  height: 600%;
}

/* Hide the items when the select box is closed: */
.sehi {
  display: none;
}

#catsfbsf > .slit {
  overflow-y: unset;
  height: auto;
}
.slit div {
  padding: 6px 10px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-right-color: currentcolor;
  border-left-color: currentcolor;
  border-color: $blackColor;
  cursor: pointer;
}
#catsfbsf > .slit div:last-of-type {
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: $blackColor;
}

/* Blog CSS */
.tmcbpb .mti {
  padding-right: 20px;
  padding-left: 20px;
}
.tmcbpb .mti .tctm {
  margin-left: 20px;
  margin-right: 10px;
}
.tctm p {
  text-align: left;
}

#home-container .tctm{
  display:none;
}
/* Blog */
.blogpost img {
  max-width: 100%;
}
table thead tr {
  background-color: $primaryColor;
  color: $whiteColor;
  font-size: $fourthHeadingFontSize;
  font-family: $firstHeadingFamily;
}

table thead tr th {
  height:3rem;
}
table tbody tr {
  border-bottom: 1px solid #ba1a63;
}
.blogtable {
  overflow-x: scroll;
}
td {
  font-family: $paragraphFontFamily;
  font-size: $paragraphFontSize;
  height: 4rem;
}
@media only screen and (max-width: 600px) {
  td {
  font-size: 22px;
  }
}
@media only screen and (max-width: 1120px) {
  table thead th{
    font-size: 20px;
  }
  td{
    font-size: 20px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 700px), only screen and (max-height: 375px){
  table thead th{
    font-size: 18px;
    line-height: 28px;
    vertical-align: bottom;
  }
  td{
    font-size: 18px;
    line-height: 28px;
    vertical-align: bottom;
  }
  table td strong{
    font-size: 18px;
    line-height: 28px;
    vertical-align: bottom;
  }
}
/*Events */
.event-container {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "mks-event-date mks-event-title" "mks-event-time mks-event-venue";
  background-color: $whiteColor;
  margin-bottom: 1rem;
}
.banner{
  grid-area: banner;
}
.mks-event-date {
  grid-area: mks-event-date;
  text-align:right;
  margin-left: 25%;
}
.mks-event-date, .mks-event-title{
  border-bottom: 4px #E9E9EA solid;
}
.mks-event-date > h3 {
  text-align: right;
  margin-bottom: 0;
  color: $primaryColor;
}
.mks-event-title {
  grid-area: mks-event-title;
}
.mks-event-title > h3 {
  text-align: left;
  margin-bottom: 0;
}
.mks-event-time {
  grid-area: mks-event-time;
  text-align:right;
}
.mks-event-time > p{
  margin-top:0;
  text-align: right;
  padding: 0;
}
.mks-event-date, .mks-event-time{
  padding-right: 2%;
}
.mks-event-venue {
  grid-area: mks-event-venue;
}
.mks-event-venue > p {
  margin-top:0;
  text-align: left;
  padding: 0;
}
.mks-event-title, .mks-event-venue{
  padding-left: 1%;
}
/* Managing Events */
.event-crossurger#user-event-cross-burger{
  grid-area: mks-event-crossburger;
}
.event-container#user-event-container{
  grid-template-areas:
  "mks-event-crossburger mks-event-date mks-event-title mks-event-title mks-event-title"
  "mks-event-crossburger mks-event-time mks-event-venue mks-event-venue mks-event-venue";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#user-event-container a:hover .cross_st0{
  stroke: black;
}
/* Tooltip */
.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color:$blackColor;
  color:$whiteColor;
  text-align: center;
  padding: 0.75rem;
  position: absolute;
  z-index: 1;
  text-decoration: none;
  font-family: $paragraphFontFamily;
  font-size: $paragraphFontSize;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.event-cross-burger:hover .tooltiptext {
  visibility: visible;
}
.student-cross-burger:hover .tooltiptext {
  visibility: visible;
}
.student-cross-burger .tooltiptext{
  right: 2rem;
  margin-top: 4rem;
}
/* Counter */
.counter-grid-container {
  background-color: $whiteColor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "counter-left counter-left counter-right counter-right" "counter-left counter-left counter-right counter-right" "counter-left counter-left counter-right counter-right";
  height: 12rem;
  display:none;
}
@media only screen and (max-width: 600px) {
  .counter-grid-container{
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: "counter-left" "counter-right";
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .event-container {
    grid-template-columns: 1.6fr 4fr;
    grid-template-rows: 1fr;
    margin-bottom: 23px;
    margin-bottom: 0;
  }
  .event-container:last-of-type{
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .counter-grid-container{
    height: 46vh;
  }
}
@media only screen and (max-height: 420px) and (max-width: 900px){
  /*
  h1{
    font-size: 5vw;
  }
  */
  .event-container{
    max-height: 24vw;
  }
  /*
  h2{
    font-size: 3vw;
    line-height: 6vw;
  }
  h3,h4{
    font-size: 4vw;
  }
  p{
    font-size: 3vw;
    line-height: 6vw;
  }
  */
  .cbsf {
    font-size: 3vw !important;
  }
  .overlay-content a {
    font-size: 6vw;
  }
  .overlay-content a.categoryHeadingMobileNoCursor {
    font-size: 5vw;
  }
  .bcmk .left section a, .bcmk .right section a {
    font-size: 3vw;
  }
}
.counter-left {
  grid-area: counter-left;
}
.counter-left h2, .counter-right h2{
  color: $primaryColor;
}
.counter-left p, .counter-right p{
  color: $blackColor;
  text-align: center;
}
.counter-left > section, .counter-right section{
  margin-top:auto;
  margin-bottom:auto;
}
.counter-left > section > h2, .counter-right section > h2{
  margin-bottom:0;
}
.counter-left > section > p, .counter-right section > p{
  margin-top:0;
}
.counter-left, .counter-right{
  display: grid;
}
.counter-right { grid-area: counter-right; }

.maps-google iframe{
  height: 500px;
}
@media only screen and (max-width: 750px) {
  .maps-google iframe{
    height:400px
  }
}

/* Footer */
.logo-footer-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 70px;
  grid-row-gap: 100px;
  padding: 2rem;
}
@media screen and (min-width: 1400px) {
.logo-footer-container > div{
  max-width: 8vw;
}
}
.logo-footer-container > div > a > img{
  width:125px;
}
@media screen and (max-width: 1200px) {
  .logo-footer-container{
    grid-template-columns: auto auto auto auto auto;
  }
}
@media screen and (max-width: 800px) {
  .logo-footer-container{
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width: 650px) {
  .logo-footer-container{
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 490px) {
  .logo-footer-container{
    grid-template-columns: auto auto;
  }
}

section.events-container-grid {
  display: grid;
}

.all-events-banner {
  grid-area: all-events-banner;
  background-color: $primaryColor;
}
section.events-container-grid h1{
  border-bottom: solid 5px $primaryColor;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 800px) {
  section.events-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "all-events-container";
  }
  section.events-container-grid h1{
    margin-left: 0;
  }
}
/* Gallery */
.cross_st0{
  fill:none;
  stroke:$primaryColor;
  stroke-width:4;
}
.gallery-show > img{
  transition: transform .2s ease;
  border: 1px solid $whiteColor;
  max-width: 100%;
  box-shadow: inset inset 0px 0px 10px 0px #22252836;
  -webkit-box-shadow: inset 0px 0px 10px 0px #22252836;
  -moz-box-shadow: inset 0px 0px 10px 0px #22252836;
  -o-box-shadow: inset 0px 0px 10px 0px #22252836;
}
.gallery-show > img:hover {
  cursor: pointer;
  transform: scale(1.02) !important;
}
#overlay-image-section{
  display: none;
  text-align: center;
  background: #000000de;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#overlay-image-section .closebtn{
  padding-top: 0;
  margin-top: 0;
  filter: brightness(70%);
}
#overlay-image-section .closebtn:hover{
  filter: none;
}
#overlay-image-section p{
  color: $whiteColor;
  margin-top:0;
}
#gallery-text{
  display: none;
}

#overlay-show-img{
  padding: initial;
  max-height: calc(100% - 4rem);
  max-width: 100%;
}
#closebtn-gallery{
  top: 0;
  right: 0;
}
.gallery-show{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 20px;
  align-items: end;
}
.gallery-show > div{
  background-color: red;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.landscape{
  grid-column: span 2;
}
.portrait {
  grid-row: span 2;
}
.xxl{
  grid-column: span 4;
  grid-row: span 4;
}
.gallery-nav-bar{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  grid-auto-flow: column;
}
.gallery-nav-bar .active{
  color: $primaryColor;
}
.gallery-nav-bar a:hover{
  color: $primaryColor;
}
.gallery-nav-bar a{
  color: $blackColor;
  font-family: $secondHeadingFamily;
  font-size: 36px;
}
.gallery-nav-bar a:hover{
  text-decoration:none;
}
@media only screen and (max-width: 1120px) {
  .gallery-nav-bar a{
    font-size: 26px;
  }
}
#gallery-text-overlay{
  text-align: center;
}
@media only screen and (max-width: 1120px) {
  #gallery-text-overlay {
    font-size: 1.7vw;
  }
}
@media only screen and (max-width: 700px), only screen and (max-height: 375px) {
  #gallery-text-overlay {
    font-size: 5vw;
  }
}
.prices-nav-bar{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  grid-auto-flow: column;
}
.prices-nav-bar .active{
  color: $primaryColor;
}
.prices-nav-bar a:hover{
  color: $primaryColor;
}
.prices-nav-bar a{
  color: $blackColor;
  font-family: $secondHeadingFamily;
  font-size: 36px;
}
.prices-nav-bar a:hover{
  text-decoration:none;
}
#ermaessigungen li{
  padding-left: 0;
}
.cross_st0{
  fill:none;
  stroke:$primaryColor;
  stroke-width:4;
}
@media screen and (max-width: 1024px) {
#overlay-image-section .cross_st0{
  stroke: $whiteColor;
  stroke-width: 3;
  padding-right: 1rem;
}
#overlay-image-section .closebtn{
  filter:unset;
}
}
@media screen and (max-width: 1000px) {
  .gallery-nav-bar{
    grid-template-rows: 1fr;
    grid-template-columns: unset;
    grid-auto-flow: unset;
  }
  .gallery-nav-bar h2 a{
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .gallery-nav-bar h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1400px) {
  .prices-nav-bar{
    grid-template-rows: 1fr;
    grid-auto-flow: unset;
    grid-template-columns: auto auto auto;
  }
  .prices-nav-bar h2 a{
    margin-bottom: 0;
    margin-top: 0;
  }
  .prices-nav-bar h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .prices-nav-bar{
    grid-template-rows: 1fr;
    grid-auto-flow: unset;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 500px) {
  .prices-nav-bar{
    grid-template-rows: 1fr;
    grid-auto-flow: unset;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 2999px) {
  .gallery-show{
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}
@media screen and (max-width: 1200px) {
  .prices-nav-bar h2 a{
    font-size: 32px;
}
}
@media screen and (max-width: 1120px) {
  .prices-nav-bar h2 a{
    font-size: 26px;
}
}
@media screen and (max-width: 700px) {
  .prices-nav-bar h2 a{
    font-size: 22px;
}
}
@media screen and (max-width: 1999px) {
  .gallery-show{
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
@media screen and (max-width: 1800px) {
  .gallery-show{
grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}
@media screen and (max-width: 1024px) {
  .gallery-show{
    width: calc(100% + 4em);
    margin-left: -2em;
    grid-template-columns: unset;
    display: inherit;
  }
  .gallery-show > img{
    width: 100%;
  }
  .mbs .container {
    margin-top: 2rem;
  }
  .overlay .closebtn{
    top: -20px;
    right: 10px;
  }
}
@media screen and (max-width: 600px) {
  #overlay-show-img{
    padding-top: 25%;
  }
  .overlay a{
    padding-right: 2rem;
  }
  .closebtn{
    width: 2rem;
  }
}
@media only screen and (max-width: 400px) {
#overlay-show-img {
    padding-top: 10%;
}
#closebtn-gallery {
    top: -35px;
    right: -40px;
}
#gallery-text-overlay {
    font-size: 3.7vw;
    line-height: 5vw;
}
}
@media only screen and (max-height: 400px) {
#overlay-show-img {
    padding-top: 2%;
}
#closebtn-gallery {
    top: 0;
    right: 0;
}
#gallery-text-overlay {
    font-size: 3.7vh;
    line-height: 5vh;
}
}
.dropdown:hover .dropdown-hover-section {
  opacity: 1;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-duration: 1s;
}
@media screen and (max-width: 771px){
.logo-footer-container{
  display: none;
}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadein {
  0%   {opacity: 0;}
  25%  {opacity: 0.5;}
  50%  {opacity: 0.8;}
  100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
  0%  {opacity: 0.25;}
  25%  {opacity: 0.75;}
  50%  {opacity: 0.95;}
  100% {opacity: 1;}
}
@media only screen and (min-width: 1200px){
html:not([data-scroll='0']) {
  .nvb {
    height: 70px;
  }
  #mks-logo-svg {
    height: 3rem;
  }
}
}
/* Huge Screens */
@media only screen and (min-width: 1800px) {
  .bcmk, .mbs, .bs, .logo-footer-container, #blogEntrySection{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .nvb, .bfsc{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-show{
    grid-gap: 14px;
  }
  .gallery-show img{
    max-width: 98%;
  }
  .bcmk > .middle > img{
    object-fit: cover;
  }

}
@media only screen and (min-width: 2000px){
.grtnmc{
  grid-template-columns: repeat(5, 0.18fr);
}
.container {
  width: 90%;
  padding-left: unset;
  padding-right: unset;
}
.container.gallery {
  width: 100%;
}
h1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.all-events-container > h1{
  width: unset;
}
#forms-text{
  text-align: center;
}
.bcmk > div > section{
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}
p{
  padding-left:unset;
  padding-right:unset;
}
#mks-logo-svg{
  padding-left: 78px;
}
}
h2.heading-teaching{
  color: $blackColor;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.active > h2{
  color: $primaryColor;
}
h2.heading-teaching:hover{
  color: $primaryColor;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  h2.heading-teaching:hover{
    color: $blackColor;
  }
}
a#show_director:hover, a#show_brass:hover,
a#show_keys:hover, a#show_vocal:hover,
a#show_strings:hover, a#show_woodwinds:hover,
a#show_dance:hover, a#show_drums:hover,
a#show_secretary:hover, a#show_picked:hover,
a#show_art:hover, a#show_elementary, a#show_eme:hover,
a#show_theory:hover,{
  text-decoration: none;
}
#dsgvo-text p, #dsgvo-text a{
  font-size: 20px;
  line-height: 35px;
}
#login-mks-form{
  display: grid;
  grid-template-areas: "userText userInput userInput userInput" "passwordText passwordInput passwordInput passwordInput" "loginSave loginSave loginSave loginSave"

}
#login-mks-form > .user-text{
  grid-area: userText;
}
#login-mks-form > .user-text > p{
  margin-top: 0;
  text-align: right;
}
#login-mks-form > .user-input{
  grid-area: userInput;
}
#login-mks-form > .password-text {
  grid-area: passwordText;
}
#login-mks-form > .password-text > p {
  margin-top: 0;
  text-align: right;
}
#login-mks-form > .password-input{
  grid-area: passwordInput;
}
#login-mks-form > .user-login{
  grid-area: loginSave;
}
/* blog Summary Index Page */
#blogEntrySection .tmcb{
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}
#blogEntrySection h1{
  margin-bottom: 0;
  margin-top: 3rem;
  border-bottom: $thirdColor 5px solid;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
}
#blogEntrySection .mti > a:hover {
    text-decoration: none;
}
#blogEntrySection a{
  color: $primaryColor;
  font-family: $firstHeadingFamily;
}
#blogEntrySection .tctm p,
#blogEntrySection .tctm a, {
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
#blogEntrySection .tmcbpb .mti .tctm{
  margin:0;
}
@media only screen and (max-width: 1100px) {
  #blogEntrySection .tmcb{
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 800px) {
  #blogEntrySection .tmcbpb .mti, #blogEntrySection .tmcb{
    padding:0;
  }
  #blogEntrySection .tmcb{
    grid-template-columns: auto;
    grid-column-gap: 0;
  }
  #blogEntrySection.container{
    padding:0;
  }
  #blogEntrySection .tmcbpb{
    padding-bottom: 0;
  }
  #blogEntrySection .tmcbpb:last-of-type{
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 800px){
  #blogEntrySection h1{
    width:100%;
  }
  #blogEntrySection.container, .mbs.container{
    margin:0;
    width:100%;
  }
  .mbs.container{
    padding: 0;
  }
  #blogEntrySection .tmcbpb{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  #blogEntrySection .mti .tctm{
    text-align: center;
  }
}
.youtube-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}
.youtube-grid > iframe{
  min-height: 425px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .youtube-grid{
    grid-template-columns: auto;
    grid-gap: 1rem;
  }
  .youtube-grid > iframe{
    min-height: 400px;
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .youtube-grid{
    grid-template-columns: auto;
    grid-gap: 1rem;
  }
  .youtube-grid > iframe{
    min-height: 200px;
    width: 100%;
  }
}
