.hidden {
    display: none;
}
.new_event {
  text-align: left;
}
.EC{
  margin-bottom: 1%;
}
.row.ec{
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 8px;
 margin-left: 0px;
 margin-right: 0px;
 margin-bottom: 10px;
 background-image: linear-gradient(180deg,rgb(185, 39, 105),rgb(174, 25, 91)),url(https://global-uploads.webflow.com/5964efc…/598caf8…_large-white.svg);
 background-position: 0 0,100% -127px;
 align-items: center;
 color: #fbf9f9;
}
.t-bd {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.echb.t-bd{
  margin-right: 10px;
}
.row.ectbd{
  padding-top: 10px;
}
#create_event_form p {
  margin:0;
  font-family: Dosis;
}
@media only screen and (min-width: 756px) {
.EC form {
  margin-left: 22%;
}
#create_event_form select {
  width: 330px;
}
#create_event_form input {
  width: 330px;
}
#create_event_form textarea{
  width: 330px;
}
}
@media only screen and (max-width: 755px) {
#create_event_form select {
  width: 100%;
}
#create_event_form input {
  width: 100%;
}
}
