/* ToDo-List */
.tag-container{
  display: flex;
}
li.taskItem{
  padding: unset;
  width: 98%;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 14px;
}
.taskItem > input{
  padding: 0;
  width: 30px;
  height: 30px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 14px;
  margin-right: 14px;
}
.taskItem > input:hover{
  cursor: pointer;
}
.taskItem span{
  text-decoration: unset;
}
.taskItem{
  display: flex;
  border: solid;
  width:98%;
  border-width: 1px;
  border-color:#22252833;
  border-radius: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 6px 6px 5px -8px rgba(34,37,40,1);
  -moz-box-shadow: 6px 6px 5px -8px rgba(34,37,40,1);
  box-shadow: 6px 6px 5px -8px rgba(34,37,40,1);
}
.todo-content{
  display: grid;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.todo-content strong{
  font-size: 18px;
  color:#d73538;
}
.tag-container h3{
  padding-right: 12px;
}
.taskItem h4{
  margin: 0;
  text-align: left;
  font-size: 22px;
  line-height: 20px;
}
.checkedList .taskItem h4{
  text-decoration: line-through;
  color: #222528c4;
}

.checkedList .todo-content strong {
  font-size: 18px;
  color: #22252891;
}
.checkedList .taskItem{
  background-color: #2225282e;
  border-color: #22252833;
}
