/* Standard Variables */
$primaryColor:#D73538;
$secondaryColor:#222528;

$whiteColor: #FDFDFD;
$bgcolor: $whiteColor;
$blackColor: $secondaryColor;

$textcolor: $secondaryColor;

$firstHeadingFamily:'Montserrat', sans-serif;
$firstHeadingFontSize:45px;
$firstHeadingFontColor:$secondaryColor;
$firstHeadingFontLineHeight:61px;

$secondHeadingFamily:'Montserrat', sans-serif;
$secondHeadingFontSize:40px;
$secondHeadingFontColor:$secondaryColor;
$secondHeadingFontLineHeight:61px;

$thirdHeadingFamily:'Montserrat', sans-serif;
$thirdHeadingFontSize:30px;
$thirdHeadingFontColor:$secondaryColor;
$thirdHeadingFontLineHeight:61px;

$fourthHeadingFamily:'Montserrat', sans-serif;
$fourthHeadingFontSize:26px;
$fourthHeadingFontColor:$secondaryColor;
$fourthHeadingFontLineHeight:30px;

$paragraphFontFamily:'Lato', sans-serif;
$paragraphFontSize:24px;
$paragraphFontColor:$secondaryColor;
$paragraphFontLineHeight:40px;

$menuHeight: 100px;
$menuColor: $secondaryColor;
$menuFontSize: 20px;
$menudFontFamily: 'Montserrat', sans-serif;

$mobileMenuFontSize: 24px;
$mobileMenuFontFamily: 'Montserrat', sans-serif;

$linkFontSize: 22px;
$linkColor: $primaryColor;
$linkFontFamily: 'Montserrat', sans-serif;

/* mobile Variables */
$mobileFirstHeadingFontSize:30px;
$mobileSecondHeadingFontSize:30px;
$mobileParagraphFontSize:3vw;
$mobileLinkFontSize: 20px;
$mobileMenuFontSize: 20px;


/*Priority Variables*/
$priorityFirstColor: #BD2F32;
$prioritySecondColor: #EB4B34;
$priorityThirdColor: #eb8634;
$priorityFourthColor: #e0de38;
/* ToDo-List */
.tag-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
li.taskItem{
  padding: unset;
  width: 98%;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 14px;
  min-height: 62px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  grid-template-areas: "taskCheckbox todo-content todo-content todo-content";
}
.taskItem > input{
  grid-area: taskCheckbox;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.taskItem > input:hover{
  cursor: pointer;
}
.taskItem span{
  text-decoration: unset;
}
.taskItem{
  display: flex;
  border: solid;
  width:98%;
  border-width: 1px;
  border-color:#22252833;
  border-radius: 5px;
  padding-right: 5px;
  -webkit-box-shadow: 6px 6px 5px -8px rgba(34,37,40,1);
  -moz-box-shadow: 6px 6px 5px -8px rgba(34,37,40,1);
  box-shadow: 6px 6px 5px -8px rgba(34,37,40,1);
}
.todo-content{
  grid-area: todo-content;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: grid;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 85%;
  display: grid;
  grid-template-areas:
    'header header header header header right'
    'main main main main main right';
}
.todo-content:hover{
  cursor: pointer;
}
.todo-content.active:hover{
  cursor: auto;
}
.todo-content > label { grid-area: header; }
.taskDate { grid-area: main; }
.todo-content >  .priorityHeading {
  grid-area: right;
  margin:auto;
  display:block;
}

.todo-content {
  display: grid;
  grid-template-areas:
    'header header header header header right'
    'main main main main main right';
}
.todo-content strong{
  font-size: 18px;
  color:#d73538;
}
.tag-container h3{
  padding-right: 12px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 26px;
}
.tag-container h3:hover{
  cursor: pointer;
}
.tag-container h3.active{
  color: $primaryColor;
}
h3#newEntry{
  text-align: left;
  margin-bottom: 6px;
}
.taskItem h4{
  margin: 0;
  text-align: left;
  font-size: 22px;
  line-height: 22px;
  max-width: 90%;
  grid-area: header;
}
.checkedList .taskItem h4{
  text-decoration: line-through;
  color: #222528c4;
}
.checkedList > .taskItem > input{
  filter: grayscale(100%);
}
.checkedList .todo-content strong {
  font-size: 18px;
  color: #22252891;
}
.checkedList .taskItem{
  background-color: #2225282e;
  border-color: #22252833;
}
.todo-row {
 white-space: nowrap;
}
.todo-row div {
 display: inline;
}
.todo-row input#description{
  width: 50%;
}
.todo-row input#dueDate{
  width: 12%;
  padding-right: 0;
  padding-left: 12px;
  margin-left: 1%;
  color: #8a8a8a;
  text-transform: lowercase;
}
#description, #dueDate{
  border-color: #22252854;
  height: 44px;
  color: #8a8a8a;
}
#description{
  color: $blackColor;
}
#todoForm{
  display:none;
}
#todoForm > h3{
  text-align: left;
  color:$primaryColor;
}
#anchorButtonAdd{
  text-align: right;
  width: 98%;
  display: block;
}
button.taskAdd{
  margin-left: 1%;
  margin-right: 0;
  display: inline-block;
  width: 170px;
  border-radius: 5px;
  height: 48px;
}
button.todoButton {
  font-family: $firstHeadingFamily;
  font-size: 18px;
  box-shadow: 0 4px #BD2123;
  width: 20%;
  height: 50px;
  background: $primaryColor;
  border-width: 0.5px;
  color: $whiteColor;
  border-color: #FF1B1E;
  margin: 1rem;
}
button.todoButton:hover{
  transform: translate(0, 1.5px);
  box-shadow: 0 2.5px #BD2123;
  cursor: pointer;
}
@media only screen and (max-width: 771px){
  button.todoButton {
    width: 11rem !important;
  }
}
.sese{
  height: 30px;
  border-color: #22252854;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: $blackColor;
  text-align: center;
  width: 72%;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.sfbsfcon{
  width: 76%;
  height: 44px;
  margin-left:0;
  padding-left: 0px;
  padding-right: 0px;
}
.slitcon{
  text-align: center;
  color: #8a8a8a;
  width: calc(72% + 2px);
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.slitcon div{
  padding-left: 0px;
  padding-right: 0px;
}
.swasd::before{
  content:none;
}
.slit div:hover, .swasd {
    background-color: #D7353814;
}
#clickCategory{
  display: inline-flex;
  width: 68%;
}
#newTaskHeading{
  margin:0;
}
#tagHeadline{
  margin-bottom: 3.2px;
  padding-bottom: 0.1em;
  color:#d73538;
  text-align: left;
}
/*
.checker{
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 4%;
  margin-top: -44px;

*/
#priorityChecker {
  display: none;
}
.checker {
  display: none;
  background-image: url(/static/todo/unstar.svg);
  background-size: auto 100%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.checker.priority0{
  background-image: url(/static/todo/star.svg);
}
.checker.priority1{
  background-image: url(/static/todo/star1.svg);
}
.checker.priority2{
  background-image: url(/static/todo/star2.svg);
}
.checker.priority3{
  background-image: url(/static/todo/star3.svg);
}
#priorityChecker:checked + .checker {
  background-image: url(/static/todo/star.svg);
}
li .item1 {
  grid-area: menu;
  width: 650px;
}
li .item2 {
  grid-area: main;
}
li .item3 {
  grid-area: priority;
}
li .item2, li .item3{
  width: 168px;
}
li .item4 { grid-area: footer; }

.item2 > input, .item3 > input{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.item4 > button {
  width: 50%;
  margin-top: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.item2 > h4, .item3 > h4{
  margin-bottom: 0.5rem;
}
li .extra-todo-container {
  padding-top: 20px;
  display: none;
  grid-template-areas: 'menu main priority' 'menu footer footer';
  grid-gap: 0 2rem;
}
li .extra-todo-container > div {
  padding: 0;
}
input#content{
  height: 100%;
  width: 80%;
}
li input#dueDate{
  width: 170px;
}
li button{
  width: 50%;
  margin-left: 0;
}
li h4 {
  margin-bottom: 16px;
}
#clickCategory > .sese, #clickPriorityHeading > .sese{
  color: #8a8a8a;
  font-family: $paragraphFontFamily;
  font-size: 18px;
  padding-right: 1.5%;
  padding-left: 1.5%;
  text-align: left;
}
#clickCategory > .sese.active, #clickCategory > .slitcon > div{
  font-family: $firstHeadingFamily;
  font-size: 22px;
  line-height: 28px;
  color:$blackColor;
}
#clickCategory .slitcon{
  width: 100%;
}
#clickCategory .slitcon > div, #clickPriorityHeading .slitcon > div{
  color:#8a8a8a;
  font-family: $paragraphFontFamily;
  font-size: 18px;
}
.item1 > textarea, .task-form-notes > textarea{
  padding: 1.5%;
  border: 1px solid #22252854;
  box-shadow: 0px 2px 2px 1px #00000005;
  border-radius: 8px;
}
textarea.taskName{
  width: 97%;
}
.item2 > input{
  box-shadow: 0px 2px 2px 1px  #00000005;
  border-color: #22252854;
}
.item2 > input, .item3 > #clickPriority > .sese{
  color: $blackColor;
  font-family: "Montserrat", sans-serif;
  line-height: 28px;
}
#clickPriority > .sese{
  width: 110%;
}
.item3 > .sfbsfcon{
  margin-right: 0;
}
.item3 .slitcon{
  margin-left: 0;
  width: 110%;
  height: 200%;
  border-radius: 0 0 12px 12px;
  border: 1px solid;
  border-color:
  #22252854;
  border-top: none;
}
.item3 .slitcon > div{
  border: none;
}
.item3 > .sfbsfcon, #clickPriority > .sese, .item3 > #clickPriority > .sese.slar-active{
  font-size: 20px;
}
.item3 > #clickPriority > .sese.slar-active {
  border-radius: unset;
}
/* media settings*/
@media only screen and (max-width: 1340px) {
  #clickCategory {
    width: 100%;
  }
  .todo-row input#description {
    width: 67%;
  }
  button.taskAdd {
    width: 14%;
  }
  .todo-row input#dueDate {
    width: 12%;
    padding-right: 0;
    padding-left: 1%;
    margin-left: 1%;
  }
}
@media only screen and (max-width: 1066px) {
  .todo-row {
    white-space: nowrap;
    display: grid;
  }
  .todo-row input#description {
    width: 95%;
  }
  .todo-row input#dueDate {
    width: 97%;
    padding-right: 0;
    padding-left: 1%;
    margin-left: 0;
  }
  .sese{
    margin-right: 2%;
  }
  button.taskAdd {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .todo-row >div{
    margin-top: 1rem;
  }
  input{
    text-align: center;
  }
}
@media only screen and (max-width: 966px) {
  #newTaskHeading{
    display:none;
  }
  .sese{
    width:98%;
  }
  .todo-content{
    width: 80%;
  }
}
@media only screen and (max-width: 620px) {
  .todo-content{
    width: 72%;
  }
}

@media only screen and (max-width: 500px) {
  .todo-content{
    width: 64%;
  }
}

.task-form-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 1fr;
  grid-template-areas:
  "category category priority priority"
  "task task date date" "notes notes save save";
  grid-gap: 1rem;
}

.task-form-save { grid-area: save; }

.task-form-date { grid-area: date; }

.task-form-priority { grid-area: priority; }

.task-form-category { grid-area: category; }

.task-form-task { grid-area: task; }

.task-form-notes { grid-area: notes; }

.task-form-category > #clickCategory{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.task-form-priority .sese, .task-form-category .sese{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.task-form-task > input{
  width: 97%;
}
.task-form-date > .inputContainer > input{
  width: 100%;
}
.task-form-priority > .sfbsfcon{
  width: 100%;
}
.task-form-priority .slitcon{
  margin-left: 0;
  width: 100%;
}
.task-form-grid-container{
  margin-bottom: 1rem;
}
.task-form-save{
  text-align: left;
  margin-top: -15px;
  margin-left: -5px;
}
li.li_prior_0{
  border-bottom-color:$priorityFirstColor;
  border-bottom-width: 4px;
}
li.li_prior_1{
  border-bottom-color:$prioritySecondColor;
  border-bottom-width: 4px;
}
li.li_prior_2{
  border-bottom-color:$priorityThirdColor;
  border-bottom-width: 4px;
}
li.li_prior_3{
  border-bottom-color:$priorityFourthColor;
  border-bottom-width: 4px;
}
