{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}


{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Formulare</h1>
    <p id="forms-text">Hier finden Sie unsere Formulare zum Download bereitgestellt.</p>
    <div class="tmcb" id="download-material">

      {% for material in material_data %}
      {% include "downloadsection/pdf_interface.html" %}
      {% endfor %}
    </div>
  </div>
</div>

</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
