{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
<meta name="title" content="Galerie der Musik- und Kunstschule St. Pölten">
<meta name="description" content="Bilder und Impressionen der Musik- und Kunstschule St. Pölten in der Voithvilla am Südpark sowie unserer Schülerinnen, Schüler, Lehrer und Lehrerinnen.">

<!-- Social Media Meta --->
<meta property="og:title" content="Galerie der Musik- und Kunstschule St. Pölten">
<meta property="og:description" content="Bilder und Impressionen der Musik- und Kunstschule St. Pölten in der Voithvilla am Südpark sowie unserer Schülerinnen, Schüler, Lehrer und Lehrerinnen.">
<meta property="og:image" content="static/thumbnail/facebook/home.jpg">
<meta property="og:url" content="https://musik-kunst-schule.at/gallery">

<meta name="twitter:title" content="Galerie der Musik- und Kunstschule St. Pölten"">
<meta name="twitter:description" content="Bilder und Impressionen der Musik- und Kunstschule St. Pölten in der Voithvilla am Südpark sowie unserer Schülerinnen, Schüler, Lehrer und Lehrerinnen.">
<meta name="twitter:image" content="static/thumbnail/twitter/home.jpg">
<meta name="twitter:card" content="summary_large_image">

<!-- AOS Plugin -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<script type="text/javascript">
var photo_data = {{ gallery_json_data|safe }}
console.log(photo_data)
</script>
<!-- lazyload -->
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}

{% endblock %}
{% block body %}

<div class="mbs">
  <div class="container gallery">
    <h1>Galerie</h1>
    <nav class="gallery-nav-bar">
      {% for category in category %}
      {% if category.id == category_id %}
      <h2>
      <a class="active" href="?category={{category.id}}">{{category}}</a>
      </h2>
      {% else %}
      <h2>
      <a href="?category={{category.id}}">{{category}}</a>
      </h2>
      {% endif %}
      {% endfor %}
    </nav>
    <section class="gallery-show">
      {% for photo in photos %}
      {% if photo.image.height <= photo.image.width %}
      <img data-aos="zoom-in"
           data-aos-duration="2000"
           onclick="showImg({{photo.id}})" 
           id="{{photo.id}}"
           class="landscape lazyload"
           {% if photo.image_lazy %}
           src="{{ photo.image_lazy.url }}"
           {% if photo.image_thumbnail %}
           data-src="{{ photo.image_thumbnail.url }}"
           {% else %}
           data-src="{{ photo.image.url }}"
           {% endif %}
           {% else %}
           data-src="{{ photo.image.url }}"
           {% endif %}
           alt="{{ photo.image.title }} Musikschule St. pölten">
      {% elif photo.image.height <= photo.image.width %}
      <img data-aos="zoom-in"
           data-aos-duration="2000"
           onclick="showImg({{photo.id}})"
           id="{{photo.id}}"
           class="square lazyload"
           {% if photo.image_lazy %}
           src="{{ photo.image_lazy.url }}"
           {% if photo.image_thumbnail %}
           data-src="{{ photo.image_thumbnail.url }}"
           {% else %}
           data-src="{{ photo.image.url }}"
           {% endif %}
           {% else %}
           data-src="{{ photo.image.url }}"
           {% endif %}
           alt="{{ photo.image.title }} Musikschule St. pölten">
      {% else %}
      <img data-aos="zoom-in"
           data-aos-duration="2000"
           onclick="showImg({{photo.id}})"
           id="{{photo.id}}"
           class="portrait lazyload"
           {% if photo.image_lazy %}
           src="{{ photo.image_lazy.url }}"
           {% if photo.image_thumbnail %}
           data-src="{{ photo.image_thumbnail.url }}"
           {% else %}
           data-src="{{ photo.image.url }}"
           {% endif %}
           {% else %}
           data-src="{{ photo.image.url }}"
           {% endif %}
           alt="{{ photo.image.title }} Musikschule St. pölten">
      {% endif %}
      {% endfor %}
    </section>
    <section onclick="blockImg()" id="overlay-image-section" class="overlay image">
      <img id="overlay-show-img" src="" alt="">
      <a href="javascript:void(0)" id="closebtn-gallery" class="closebtn" onclick="blockImg()">
        {% include "templates/svg/nav_bar_crossburger.html" %}
    </a>
    <p id="gallery-text-overlay"></p>
  </section>
</div>


{% endblock %}
{% block footer %}
<script type="text/javascript">
  function showImg(id){
    src = document.getElementById(id).src
    src = photo_data[id]["image"]
    document.getElementById("overlay-show-img").src = src
    document.getElementById("overlay-image-section").style.display = "block";
    document.querySelector("header").style.zIndex = "0"
    var descr = photo_data[id]["description"]
    var overlayImage = document.querySelector("#overlay-image-section > p")
    overlayImage.innerHTML = descr;
  }
  function blockImg(){
    document.getElementById("overlay-image-section").style.display = "none";
    document.querySelector("header").style.zIndex = "99"
  }
  document.onkeydown = function(evt) {
      evt = evt || window.event;
      if (evt.keyCode == 27) {
          blockImg()
      }
  };
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js">
</script>
<script>
  lazyload();
</script>
<script>  
AOS.init({disable: 'mobile',});
</script>
{% endblock %}
