{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
<meta name="title" content="Galerie der Musik- und Kunstschule St. Pölten">
<meta name="description" content="Bilder und Impressionen der Musik- und Kunstschule St. Pölten in der Voithvilla am Südpark sowie unserer Schülerinnen, Schüler, Lehrer und Lehrerinnen.">

<!-- Social Media Meta --->
<meta property="og:title" content="Galerie der Musik- und Kunstschule St. Pölten">
<meta property="og:description" content="Bilder und Impressionen der Musik- und Kunstschule St. Pölten in der Voithvilla am Südpark sowie unserer Schülerinnen, Schüler, Lehrer und Lehrerinnen.">
<meta property="og:image" content="static/media/thumbnail/facebook/home.jpg">
<meta property="og:url" content="https://musik-kunst-schule.at/gallery">

<meta name="twitter:title" content="Blessond.com | Gitarrenunterricht & Klavierunterricht in St. Pölten">
<meta name="twitter:description" content="Bilder und Impressionen der Musik- und Kunstschule St. Pölten in der Voithvilla am Südpark sowie unserer Schülerinnen, Schüler, Lehrer und Lehrerinnen.">
<meta name="twitter:image" content="static/media/thumbnail/twitter/home.jpg">
<meta name="twitter:card" content="summary_large_image">


{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}

{% endblock %}
{% block body %}

<div class="mbs">
  <div class="container gallery">
    <h1>Galerie</h1>
    <nav class="gallery-nav-bar">
      {% for category in category %}
      {% if category.id == category_id %}
      <h2>
      <a class="active" href="?category={{category.id}}">{{category}}</a>
      </h2>
      {% else %}
      <h2>
      <a href="?category={{category.id}}">{{category}}</a>
      </h2>
      {% endif %}
      {% endfor %}
    </nav>
    <section class="gallery-show">
      {% for photo in photos %}
      {% if photo.images.height <= photo.images.width %}
      <img onclick="showImg({{photo.id}})" id="{{photo.id}}" class="landscape" style=""src="{{ photo.images.url }}" alt="">
      {% elif photo.images.height <= photo.images.width %}
      <img onclick="showImg({{photo.id}})" id="{{photo.id}}" class="square" style=""src="{{ photo.images.url }}" alt="">
      {% else %}
      <img onclick="showImg({{photo.id}})" id="{{photo.id}}" class="portrait" style=""src="{{ photo.images.url }}" alt="">
      {% endif %}
      {% endfor %}
    </section>
    <section onclick="blockImg()" id="overlay-image-section" class="overlay image">
      <img id="overlay-show-img" src="" alt="">
      <a href="javascript:void(0)" id="closebtn-gallery" class="closebtn" onclick="blockImg()">
        {% include "templates/svg/nav_bar_crossburger.html" %}
    </a>
  </section>
</div>


{% endblock %}
{% block footer %}
<script type="text/javascript">
  function showImg(id){
    src = document.getElementById(id).src
    document.getElementById("overlay-show-img").src = src
    document.getElementById("overlay-image-section").style.display = "block";
    document.querySelector("header").style.zIndex = "0"
    console.log(src)
  }
  function blockImg(){
    document.getElementById("overlay-image-section").style.display = "none";
    document.querySelector("header").style.zIndex = "99"
  }
</script>
{% endblock %}
