{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">

{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/todo_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/todo_banner.jpg" alt="">
{% endblock %}

{% block body %}
<div class="mbs container">
  <div class="content">
    <h1>Kategorien Manager</h1>
    <a>
    <button class="taskAdd" name="taskAdd" onclick="ShowCategoryAddForm()">+ Hinzufügen</button>
    </a>
    <ul class="taskList">
      {% for category in categories %}
      <li id="cat_{{category.id}}" class="taskItem cat_{{ category.id }}">
        <a class="deleteCategory" href="?delete_category={{ category.id }}" id="delete-category-todo" class="closebtn" onclick="return confirm('Wollen Sie wirklich diese Kategorie und alle dazugehörigen Todo-Aufgaben löschen?');">
          {% include "templates/svg/todo_categories_crossburger.html" %}
          <span class="tooltiptext">Kategorie löschen</span>
        </a>
        <div class="todo-content" id="contentTodo{{ todo.id }}" >
          <h4>{{ category.name }}</h4>
        </div>
      </li>
      {% endfor %}
    </ul>
    <form id="categoryAddForm" action="" method="post">
      <a href="javascript:void(0)" id="closebtn-todo" class="closebtn" onclick="CloseCategoryAddForm()">
        {% include "templates/svg/nav_bar_crossburger.html" %}
      </a>
      {% csrf_token %}
      <div class="task-form-grid-container">
        <div class="task-form-heading">
        <h3>Neue Kategorie:</h3>
        </div>
        <div class="task-form-save">
          <button class="categoryAdd" name="categoryAdd" type="submit">Speichern</button>
        </div>
        <div class="task-form-task">
          <input maxlength="90" type="text" id="description" class="categoryName" placeholder="Name der Kategorie*" name="categoryName" required>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
  function ShowCategoryAddForm(){
    document.getElementById("categoryAddForm").style.display = "block";
  }
  function CloseCategoryAddForm(){
    document.getElementById("categoryAddForm").style.display = "none";
  }
</script>
{% endblock %}
