<!-- invitation/invitation_list.html -->

{% extends "templates/base.html" %}
{% load static %}

{% load dict_extras %}


{% block tab_id %}id="invitation_tab"{% endblock %}

{% block extra_head %}
<style media="screen">
  /* Fügen Sie hier bei Bedarf zusätzliches Styling hinzu */
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  {% if request.user.is_staff %}
  <div class="container">
    <h2>Anmeldungen nach Veranstaltungstagen</h2>
    {% for event_date, grouped_invitations in invitations_by_date.items %}
    <div class="event-section">
      <h3>Veranstaltung am {{ event_date|date:"d.m.Y" }}</h3>
      <table class="controlling" cellspacing="0" cellpadding="0" width="100%">
        <thead>
          <tr>
            <th>Anmeldedatum</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Anzahl Begleitpersonen</th>
          </tr>
        </thead>
        <tbody>
          {% for invitation in grouped_invitations %}
            <tr>
              <td>{{ invitation.timestamp|date:"d.m.Y H:i" }}</td>
              <td>{{ invitation.name }}</td>
              <td>{{ invitation.email }}</td>
              <td>{{ invitation.number_of_guests }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>Gesamtanzahl für diesen Tag: {{ total_persons_by_date|dict_get:event_date }}</p>
    </div>
    {% endfor %}
    <p>Gesamtanzahl aller Personen: <b>{{ total_count }}</b></p>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<!-- Falls Sie zusätzliches JavaScript benötigen -->
{% endblock %}
