<!-- invitation/invitation_form.html -->

{% extends "templates/base.html" %}
{% load static %}

{% block tab_id %}id="invitation_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
<img src="{% static 'banner/invitation_banner_rabaukel.jpg' %}" alt="Die Hexe Rabaukel bekommt Weihnachtspost">
<img id="mbimg" src="{% static 'banner/mobile/invitation_banner_rabaukel.jpg' %}" alt="Die Hexe Rabaukel bekommt Weihnachtspost - Mobile Banner">
{% endblock %}

{% block body %}
<div class="container">
  <h1>Anmeldung: Die Hexe Rabaukel bekommt Weihnachtspost</h1>
  <p>
    Wir laden Sie herzlich zur Weihnachtsvorstellung "Die Hexe Rabaukel bekommt Weihnachtspost" ein. 
    Die Vorstellung findet am 18. und 19. Dezember 2024 jeweils um 18:00 Uhr im Grillparzercampus Orchestersaal 
    (Grillparzerstraße 17, 3100 St. Pölten) statt. <br><br>
    Bitte füllen Sie die erforderlichen Felder aus und bestätigen Sie Ihre Anmeldung durch einen Klick auf den Button „Anmelden“.
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
      <div class="col-4">
        <p>Name*:</p>
      </div>
      <div class="col-8">
        {{ form.name }}
        {{ form.name.errors }}
      </div>
      <div class="col-4">
        <p>Email-Adresse*:</p>
      </div>
      <div class="col-8">
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <div class="col-4">
        <p>Wunschtermin*:</p>
      </div>
      <div class="col-8">
        <fieldset>
            {% for radio in form.event_date %}
                <div class="radio-option">
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </div>
            {% endfor %}
            {% if form.event_date.errors %}
                <div class="error">
                    {{ form.event_date.errors }}
                </div>
            {% endif %}
        </fieldset>
      </div>
      <div class="col-4">
        <p>Anzahl der Begleitpersonen:</p>
      </div>
      <div class="col-8">
        {{ form.number_of_guests }}
        {{ form.number_of_guests.errors }}
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" style="width: 8rem;">Anmelden</button>
    </div>
  </form>
  <div id="dsgvo-text">
    <p>
      * Mit Betätigung des Buttons “Anmelden” stimme ich der Verwendung und Verarbeitung meiner personenbezogenen 
      Daten gemäß den Datenschutzbestimmungen zu. Weitere Informationen finden Sie in unserem 
      <a target="_blank" href="{% url 'impressum' %}">Impressum</a>.
    </p>
  </div>
</div>
{% endblock %}

{% block footer %}
<style>
  form p {
      padding-left: 0;
  }

  /* Entferne störende Rahmen des Fieldsets */
  fieldset{
    border: none;
  }
  .radio-fieldset {
      border: none;
      padding: 0;
      margin: 0;
  }

  /* Stil für das legend */
  .radio-fieldset legend {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
  }

  /* Stil der Radio-Optionen */
  .radio-option input[type="radio"] {
      appearance: none; /* Entfernt das Standarddesign */
      width: 20px; /* Einheitliche Breite */
      height: 20px; /* Einheitliche Höhe */
      border: 2px solid #ccc; /* Rahmen */
      border-radius: 50%; /* Rund */
      outline: none; /* Entfernt Fokus-Styling */
      cursor: pointer; /* Zeiger bei Hover */
      transition: all 0.3s ease; /* Animation */
      margin: 0; /* Kein zusätzlicher Abstand */
      padding: 0; /* Kein Padding */
      display: inline-block; /* Inline-Block für Kontrolle */
      box-sizing: content-box; /* Verhindert Breitenänderungen durch Border */
  }

  .radio-option input[type="radio"]:checked {
      border-color: #D11317;
      background-color: #D11317;
  }

  /* Sicherstellung der vertikalen Zentrierung */
  .radio-option {
      display: flex;
      align-items: center; /* Zentriert Label und Button */
      gap: 10px; /* Abstand zwischen Button und Label */
  }

  .radio-option label {
      font-size: 16px;
      color: #333;
      cursor: pointer;
      transition: color 0.3s ease;
  }

  .radio-option input[type="radio"]:checked + label {
      color: #D11317;
  }
</style>
{% endblock %}
