{% extends "templates/base.html" %}
{% load i18n static %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="title" content="Kontakt | Musikschule der Landeshauptstadt St. Pölten">
<meta name="description" content="Treten Sie mit der Musikschule der Landeshauptstadt St. Pölten in Kontakt. Erfahren Sie mehr über Öffnungszeiten, Ansprechpartner und Kontaktinformationen.">

<!-- Social Media Meta --->
<meta property="og:title" content="Kontakt | Musikschule der Landeshauptstadt St. Pölten">
<meta property="og:description" content="Treten Sie mit der Musikschule der Landeshauptstadt St. Pölten in Kontakt. Erfahren Sie mehr über Öffnungszeiten, Ansprechpartner und Kontaktinformationen.">
<meta property="og:image" content="static/thumbnail/facebook/contact.jpg">
<meta property="og:url" content="https://www.musikschule-st-poelten.at/kontakt">

<meta name="twitter:title" content="Kontakt | Musikschule der Landeshauptstadt St. Pölten">
<meta name="twitter:description" content="Treten Sie mit der Musikschule der Landeshauptstadt St. Pölten in Kontakt. Erfahren Sie mehr über Öffnungszeiten, Ansprechpartner und Kontaktinformationen.">
<meta name="twitter:image" content="static/thumbnail/twitter/contact.jpg">
<meta name="twitter:card" content="summary_large_image">


{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}
<img src="/static/banner/kontakt_banner_la.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/kontakt_banner_la.webp" alt="">
{% endblock %}
{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Kontakt</h1>

    <p>Telefon: <a href="tel:+4327423332681">+43 2742 333 2681</a><br>
    E-Mail: <a href="mailto:musikschule@st-poelten.gv.at">musikschule@st-poelten.gv.at</a></p>

    <h2>Ansprechpartner:innen:</h2>
    <p>Sollten Sie Fragen zum Kursangebot, zur Anmeldung oder zu anderen Themen rund um die Musikschule haben, zögern Sie nicht, uns zu kontaktieren. Marianne Fuchsberger und Cornelia Klimesch stehen Ihnen während der Öffnungszeiten gerne für Ihre Anliegen zur Verfügung.</p>

    <h2>Öffnungszeiten an Werktagen:</h2>
    <ul>
        <li>Montag bis Donnerstag: 10:30 - 12:00 Uhr und 14:30 - 16:00 Uhr</li>
        <li>Freitag: 10:30 - 12:00 Uhr (nachmittags geschlossen)</li>
    </ul>

    <p>Wir laden Sie ein, sich auf unserer Webseite über die vielfältigen Kursangebote, Veranstaltungen und Lehrer:innen zu informieren. Die Musikschule der Landeshauptstadt St. Pölten ist stolz darauf, für Menschen jeden Alters und musikalischen Hintergrunds ein breites Spektrum an Instrumental- und Gesangsunterricht anzubieten. Lassen Sie sich von unserer Leidenschaft für Musik inspirieren und werden Sie Teil unserer musikalischen Gemeinschaft!</p>

    <p>Wir freuen uns darauf, von Ihnen zu hören und Ihnen bei Ihrem musikalischen Weg zu helfen!</p>

        
    <br>
    </div>
    
    {% endblock %}

    {% block footer %}

    {% endblock %}
