{% extends "templates/teaching_base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/images/banner/home-slide01.jpg" alt="">
{% endblock %}

{% block body %}

<div class="mbs">
  <div class="container">

  <h1>Deine Schüler</h1>
  <hr class="my-4">
  <br>

  {% for students in students.all %}

  <a href="/teaching/singlestudent?student={{students.id}}">{{ students.first_name }} {{ students.last_name }}</a>

{% endfor %}

</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
