{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Beiträge & Ermäßigungen</h1>
   <!--- <h2>Schuljahr {{ current_school_year }}</h2> -->
    <h2>Schuljahr 2024/25</h2>

    <nav class="prices-nav-bar">
      <h2>
        <a href="#musikschule">Musikschule</a>
      </h2>
      <h2>
        <a href="#verleihung">Verleihung</a>
      </h2>
      <h2>
        <a href="#ermaessigungen">Ermäßigungen</a>
      </h2>
    </nav>
    <p>Das Land Niederösterreich sowie die Stadt St. Pölten fördert Hauptfachunterricht von Kindern und Jugendlichen bis zum vollendeten 24. Lebensjahr (Stichtag ist der 30. Oktober des jeweiligen Schuljahres) sowie Ergänzungsfachunterricht, wenn die Mehrzahl der Teilnehmer:innen Kinder und Jugendliche bis zum vollendeten 24. Lebensjahr sind.</p>
    <p>Im Schuljahr {{ current_school_year }} werden (monatlich) folgende Beträge eingehoben:</p>
    <h3 id="musikschule">Tarife für Schüler:innen mit Hauptwohnsitz in St. Pölten:</h3>
    <div>
      <table cellspacing="0" cellpadding="0" width="100%">
        <thead>
          <tr>
            <th align="left"></th>
            <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 65,00</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (40 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 49,00</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (25 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 32,00</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei drei Schüler:innen (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 27,00</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei vier Schüler:innen (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 20,00</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei mind. fünf Schüler:innen (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 22,00</strong></td>
          </tr>
          <tr>
            <td align="left">Elementares Musizieren (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 32,00</strong></td>
          </tr>
          <tr>
            <td align="left">Elementares Musizieren (75 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 29,00</strong></td>
          </tr>
          <tr>
            <td align="left">Tanz und Bewegung (1x wöchentlich)</td>
            <td style="text-align:right;" align="right"><strong>€ 41,00</strong></td>
          </tr>
          <tr>
            <td align="left">Tanz und Bewegung (2x wöchentlich)</td>
            <td style="text-align:right;" align="right"><strong>€ 35,00</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>Tarife für Schüler:innen außerhalb St. Pöltens:</h3>
    <div>
      <table cellspacing="0" cellpadding="0" width="100%">
        <thead>
          <tr>
            <th align="left"></th>
            <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 77,00</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (40 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 50,00</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (25 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 38,00</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei drei Schüler:innen (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 28,00</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei vier Schüler:innen (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 21,00</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei mind. fünf Schüler:innen (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 22,00</strong></td>
          </tr>
          <tr>
            <td align="left">Elementares Musizieren (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 33,00</strong></td>
          </tr>
          <tr>
            <td align="left">Elementares Musizieren (75 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 30,00</strong></td>
          </tr>
          <tr>
            <td align="left">Tanz und Bewegung (1x wöchentlich)</td>
            <td style="text-align:right;" align="right"><strong>€ 42,00</strong></td>
          </tr>
          <tr>
            <td align="left">Tanz und Bewegung (2x wöchentlich)</td>
            <td style="text-align:right;" align="right"><strong>€ 36,00</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <section id="verleihung">
      <h3>Verleihung</h3>
      <div>
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th align="left"></th>
              <th style="text-align:right;padding-right: 1rem;" align="right">jährlicher Betrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">Instrumentenleihgebühr</td>
              <td style="text-align:right;" align="right"><strong>€ 100,00</strong></td>
            </tr>
          </tbody>
        </table>
        <p><a target="_blank" href="https://amtsweg.gv.at/stpoelten/start.do;jsessionid=45478CF0EE18F210CCA6C3EC00CBEF88?wfjs_enabled=true&vid=577ba6240fa01115&wfjs_orig_req=%2Fstart.do%3Fid%3DEinzugsermaechtigung_Sammelformular_IBAN_BIC_V1_0%26event%3Dview%26cancelurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26sendurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26pdflogo%3Dafs%252Fimages%252Fstpoelten.gif&txid=c5ef7a1b17482cf0c95ef125a041728f42cb9abd#">Formular - Einzugsermächtigung</a></p>
      </div>
    </section>
    <section id="ermaessigungen">
      <h3>Ermäßigungen*</h3>
      <div>
        <ul id="ermaessigungen">
          <li><span>Finanzschwache Familien</span> – Im Sinne sozialer Gerechtigkeit werden auf der Basis einer Kopfquotenregelung Schulgeldermäßigungen von 25, 33 und 50 Prozent gewährt. Das Ergebnis der Berechnung (Nettoeinkommen minus 145 Euro, dividiert durch die Zahl der Familienmitglieder) muss unter 640 Euro liegen.</li>
          <li><span>Familienermäßigung</span> – Ab der dritten vollen Einzelunterrichtseinheit (je 50min) mit 50 % – unabhängig vom Einkommen der Eltern.</li>
          <li><span>Der regelmäßige Besuch eines Ensemble und Orchesterunterrichts</span> – (Mindestteilnahme an 75% der Proben) bewirkt eine Schulgeldermäßigung des Instrumentalunterrichtes von 15%.</li>
          <li><span>Präsenzdiener:innen der Militärmusik</span> – 50 Prozent gemäß einer Vereinbarung mit dem Militärkommando Niederösterreich.</li>
          <li><span>Mitglieder:innen der Stadtkapelle</span> – 33 Prozent (bei einer Mindestteilnahme an den Proben zu 3/4) in Anerkennung der unentgeltlichen Mitwirkung bei Auftritten während des Schuljahres.</li>
          <li><span>Mitglieder:innen der Orchesterformationen</span> – 15 Prozent (bei einer Mindestteilnahme an den Proben zu 3/4) in Anerkennung der unentgeltlichen Mitwirkung bei Auftritten während des Schuljahres.</li>
        </ul>
        <p>*Anträge auf Ermäßigung des Musikschulbeitrages können schriftlich gestellt werden. Alle Ansuchen (Formular im Sekretariat erhältlich) um Schulgeldermäßigungen können bis spätestens 31. Oktober im Sekretariat abgegeben oder per Mail an musikschule@st-poelten.gv.at übermittelt werden.</p>
      </div>
    </section>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
