{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Beiträge & Ermäßigungen</h1>
    <h2>Schuljahr {{ current_school_year }}</h2>
    <nav class="prices-nav-bar">
      <h2>
        <a href="#musikschule">Musikschule</a>
      </h2>
      <h2>
        <a href="#ballett">Ballett</a>
      </h2>
      <h2>
        <a href="#erwachsene">Erwachsene</a>
      </h2>
      <h2>
        <a href="#ermaessigungen">Ermäßigungen</a>
      </h2>
    </nav>
    <p>Das Land Niederösterreich sowie die Stadt St.Pölten fördert Hauptfachunterricht von Kindern und Jugendlichen bis zum vollendeten 24. Lebensjahr (Stichtag ist der 30. Oktober des jeweiligen Schuljahres) sowie Ergänzungsfachunterricht, wenn die Mehrzahl der TeilnehmerInnen Kinder und Jugendliche bis zum vollendeten 24. Lebensjahr sind.</p>
    <p>Im Schuljahr {{ current_school_year }} werden (monatlich) folgende Beträge eingehoben:</p>
    <h3 id="musikschule">Tarife für Schülerinnen und Schüler mit Hauptwohnsitz in St. Pölten:</h3>
    <div>
      <table cellspacing="0" cellpadding="0" width="100%">
        <thead>
          <tr>
            <th align="left"></th>
            <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 59,10</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (40 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 44,30</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (25 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 29,50</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei zwei Schüler:innen</td>
            <td style="text-align:right;" align="right"><strong>€ 40,10</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei drei Schüler:innen</td>
            <td style="text-align:right;" align="right"><strong>€ 31,90</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei vier Schüler:innen</td>
            <td style="text-align:right;" align="right"><strong>€ 24,40</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei fünf Schüler:innen</td>
            <td style="text-align:right;" align="right"><strong>€ 18,50</strong></td>
          </tr>
          <tr>
            <td align="left">Elementare Musikerziehung (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 19,80 </strong></td>
          </tr>
          <tr>
            <td align="left">Elementare Musikerziehung (75 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 29,50</strong></td>
          </tr>
          <tr>
            <td align="left">Musikalische Grundausbildung (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 19,80</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelkorrepetition für Instrumentalisten und Sänger ohne Hauptfachunterricht</td>
            <td style="text-align:right;" align="right"><strong>€ 68,40</strong></td>
          </tr>
          <tr>
            <td align="left">Kinderchor 1 (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>kostenlos</strong></td>
          </tr>
          <tr>
            <td align="left">Kinderchor 2 (75 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>kostenlos</strong></td>
          </tr>
          <tr>
            <td align="left">Kinderchor 3 (100 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>kostenlos</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>Tarife für Schüler:innen außerhalb St. Pöltens:</h3>
    <div>
      <table cellspacing="0" cellpadding="0" width="100%">
        <thead>
          <tr>
            <th align="left"></th>
            <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 69,70</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (40 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 45,70</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelunterricht im Hauptfach (25 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 34,90</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei zwei Schüler:innen</td>
            <td style="text-align:right;" align="right"><strong>€ 41,40</strong></td>
          </tr>
          <tr>
            <td align="left">Gruppenunterricht im Hauptfach bei drei Schüler:innen</td>
            <td style="text-align:right;" align="right"><strong>€ 32,80</strong></td>
          </tr>
          <tr>
            <td align="left">Elementare Musikerziehung (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 20,40</strong></td>
          </tr>
          <tr>
            <td align="left">Elementare Musikerziehung (75 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 30,30</strong></td>
          </tr>
          <tr>
            <td align="left">Musikalische Grundausbildung (50 Minuten)</td>
            <td style="text-align:right;" align="right"><strong>€ 20,40</strong></td>
          </tr>
          <tr>
            <td align="left">Einzelkorrepetition für Instrumentalisten und Sänger ohne Hauptfachunterricht</td>
            <td style="text-align:right;" align="right"><strong>€ 79,40</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <section id="ballett">
      <h3>Tarife für Ballettschüler:innen mit Hauptwohnsitz in St. Pölten</h3>
      <div>
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th align="left"></th>
              <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">Kindertanz</td>
              <td style="text-align:right;" align="right"><strong>€ 26,40</strong></td>
            </tr>
            <tr>
              <td align="left">Vorbereitung (1x wöchentlich)</td>
              <td style="text-align:right;" align="right"><strong>€ 26,40</strong></td>
            </tr>
            <tr>
              <td align="left">Vorbereitung (2x wöchentlich)</td>
              <td style="text-align:right;" align="right"><strong>€ 37,10</strong></td>
            </tr>
            <tr>
              <td align="left">Leistungsklassen 1 - 8</td>
              <td style="text-align:right;" align="right"><strong>€ 37,10</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>Tarife für Ballettschüler:innen außerhalb St. Pölten</h3>
      <div>
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th align="left"></th>
              <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">Kindertanz</td>
              <td style="text-align:right;" align="right"><strong>€ 27,10</strong></td>
            </tr>
            <tr>
              <td align="left">Vorbereitung (1x wöchentlich)</td>
              <td style="text-align:right;" align="right"><strong>€ 27,10</strong></td>
            </tr>
            <tr>
              <td align="left">Vorbereitung (2x wöchentlich)</td>
              <td style="text-align:right;" align="right"><strong>€ 38,10</strong></td>
            </tr>
            <tr>
              <td align="left">Leistungsklassen 1 - 8</td>
              <td style="text-align:right;" align="right"><strong>€ 38,10</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>Tarife für Ballettschüler:innen außerhalb St. Pölten</h3>
      <div>
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th align="left"></th>
              <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">Kindertanz</td>
              <td style="text-align:right;" align="right"><strong>€ 27,10</strong></td>
            </tr>
            <tr>
              <td align="left">Vorbereitung (1 Mal wöchentlich)</td>
              <td style="text-align:right;" align="right"><strong>€ 27,10</strong></td>
            </tr>
            <tr>
              <td align="left">Vorbereitung (2 Mal wöchentlich)</td>
              <td style="text-align:right;" align="right"><strong>€ 38,10</strong></td>
            </tr>
            <tr>
              <td align="left">Leistungsklassen 1 - 8</td>
              <td style="text-align:right;" align="right"><strong>€ 38,10</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section id="erwachsene">
      <h3 style="margin-bottom: 0;">Tarife für erwachsene Schüler:innen*</h3>
      <h4 style="margin-top: 0;">(ab dem vollendeten 24. Lebensjahr)</h4>
      <div>
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th align="left"></th>
              <th style="text-align:right;padding-right: 1rem;" align="right">monatlicher Betrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">Einzelunterricht im Hauptfach (50 Minuten)</td>
              <td style="text-align:right;" align="right"><strong>€ 208,00</strong></td>
            </tr>
            <tr>
              <td align="left">Gruppenunterricht im Hauptfach bei 4 Schüler)</td>
              <td style="text-align:right;" align="right"><strong>€ 52,00</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>*Wir bitten um Verständnis, dass bei bestehenden Wartelisten Kinder und Jugendliche bevorzugt einen Unterrichtsplatz erhalten.</p>
    </section>
    <section id="verleihung">
      <h3>Verleihung</h3>
      <div>
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th align="left"></th>
              <th style="text-align:right;padding-right: 1rem;" align="right">jährlicher Betrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="left">Instrumentenleihgebühr</td>
              <td style="text-align:right;" align="right"><strong>€ 85,00</strong></td>
            </tr>
          </tbody>
        </table>
        <p><a target="_blank" href="https://amtsweg.gv.at/stpoelten/start.do;jsessionid=45478CF0EE18F210CCA6C3EC00CBEF88?wfjs_enabled=true&vid=577ba6240fa01115&wfjs_orig_req=%2Fstart.do%3Fid%3DEinzugsermaechtigung_Sammelformular_IBAN_BIC_V1_0%26event%3Dview%26cancelurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26sendurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26pdflogo%3Dafs%252Fimages%252Fstpoelten.gif&txid=c5ef7a1b17482cf0c95ef125a041728f42cb9abd&vid=577ba6240fa01115&wfjs_orig_req=%2Fstart.do%3Fid%3DEinzugsermaechtigung_Sammelformular_IBAN_BIC_V1_0%26event%3Dview%26cancelurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26sendurl%3Dhttp%253A%252F%252Fwww.st-poelten.gv.at%252F%26pdflogo%3Dafs%252Fimages%252Fstpoelten.gif&txid=c5ef7a1b17482cf0c95ef125a041728f42cb9abd#">Formular - Einzugsermächtigung</a></p>
      </div>
    </section>
    <section id="ermaessigungen">
      <h3>Ermäßigungen*</h3>
      <div>
        <ul id="ermaessigungen">
          <li><span>Finanzschwache Familien</span> – Im Sinn sozialer Gerechtigkeit werden auf der Basis einer Kopfquotenregelung Schulgeldermäßigungen von 25, 33 und 50 Prozent gewährt. Das Ergebnis der Berechnung (Nettoeinkommen minus 145 Euro, dividiert durch die Zahl der Familienmitglieder) muss unter 600 Euro liegen.</li>
          <li><span>Familienrabatt</span> – 50 Prozent ab der dritten innerhalb einer Familie erteilten Unterrichtseinheit (volle Einzelunterrichtseinheit &#8211; je 50min), also für das dritte Kind ebenso wie für beispielsweise das Drittfach nur eines in Ausbildung stehenden Kindes</li>
          <li><span>Der regelmäßige Besuch eines Ensemble und Orchesterunterrichts</span> – (Mindestteilnahme an 75% der Proben) bewirkt eine Schulgeldermäßigung des Instrumentalunterrichtes von 15%.</li>
          <li><span>Präsenzdiener der Militärmusik</span> – 50 Prozent gemäß einer Vereinbarung mit dem Militärkommando Niederösterreich</li>
          <li><span>Mitglieder der Jugendblasmusik</span> – 33 Prozent in Anerkennung der unentgeltlichen Mitwirkung bei Auftritten während des Schuljahres</li>
        </ul>
        <p>*Anträge auf Ermäßigung des Musikschulbeitrages können schriftlich gestellt werden.</p>
      </div>
    </section>
  </div>
</div>


{% endblock %}
{% block footer %}
{% endblock %}
