{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}



{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Bildungsangebot Kunstschule</h1>
    <p>In Kooperation mit der <a href="http://noe-kreativakademie.at/de/standort/st-polten" target="_blank" rel="noopener">Kreativakademie Niederösterreich</a> des Landes Niederösterreich und des Magistrates der Landeshauptstadt St. Pölten bietet die Musik- und Kunstschule der Landeshauptstadt St. Pölten seit Oktober 2015 neun neue Kreativakademien:</p>
    <h2>Für 6-11 Jahre:</h2> <p><strong>Schauspielakademie KIDS: </strong></p>
    <p>Die Beschäftigung mit Schauspiel ist wie das Öffnen einer Wundertüte – eine Überraschung nach der anderen. Bei der Schauspielakademie KIDS bedeutet das einen bunten Konfettiregen aus Fantasie, Spaß, Kostümen, Geschichten und natürlich vielen neuen FreundInnen. Ob schüchtern oder extrovertiert, jedes Kind profitiert vom Zusammenspiel mit anderen.</p>
    <p><strong>Musicalakademie KIDS: </strong></p> <p>Musical ist eine umfassende Bühnenkunst, bei der Geschichten, Musik und Choreographie zusammenspielen. Durch die Beschäftigung mit Sprache, Tanz, Rhythmus und Gesang erleben die Kinder die große Bandbreite ihrer Ausdrucksmöglichkeiten. In der Gruppe macht das nicht nur jede Menge Spaß, sondern hilft die Persönlichkeit zu entwickeln, stärkt das Selbstbewusstsein und fördert soziales Verhalten.</p>
    <p><strong>Malakademie KIDS: </strong></p> <p>Kinder haben eine enorme Schaffenskraft und sind dabei unverfälscht und unmittelbar. Kreativität und Eigenständigkeit sollen gefördert werden. Es werden verschiedene Maltechniken erprobt, gezeichnet, aber auch einfache Drucktechniken ausprobiert. Verschiedene Materialien (Bunt- und Graphitstifte, Öl- oder Pastellkreiden, Wasserfarben, Gouache, etc.) warten darauf, entdeckt zu werden. Ob Farben mischen oder monochromes Arbeiten, alles kann ein Bild in Szene setzen. Im Atelier darf großzügig gearbeitet werden, so kann sich die Fantasie voll entfalten.</p>
    <h2>Für 12-19 Jahre:</h2>
    <p><strong>Filmakademie: </strong></p>
    <p>Die Entwicklung einer originellen Idee bis zum fertigen Werk kann hier erlebt werden. Begleitet von erfahrenen ReferentInnen wird in Teamarbeit eine Story oder ein Thema entwickelt, gefilmt und geschnitten. Während den Lehrgängen wird erkannt, welches Talent besonders ausgeprägt ist und welcher Bereich besonders gefördert werden soll: Drehbuch, Regie, Kamera, Ton, Licht Organisation, Schauspiel, Schnitt, und, und, und, …</p>
    <p><strong>Fotoakademie</strong>:</p> <p>Professionelle FotografInnen geben im Rahmen der Fotoakademie ihren Erfahrungsschatz weiter. Ganz spielerisch erlernen die SchülerInnen den Blick und die Wahrnehmung zu schulen und Unterschiede im Bildaufbau zu erkennen. Das Wissen über digitale Bildbearbeitung rundet die Ausbildung ab und die Aufnahmen werden schließlich im Rahmen einer Ausstellung präsentiert.</p>
    <p><strong>Malakademie:</strong></p>
    <p>In den Ateliers können die SchülerInnen großflächig und frei arbeiten, und bei den Farben aus dem Vollen schöpfen. Farbspritzer kein Problem! Die Malakademie ist ein guter Ort, um sich auch im Gespräch mit Kunst zu beschäftigen und etwas über ihre Geschichte zu erfahren. Die kontinuierliche Arbeit schult den Blick und öffnet die Wahrnehmung für gestalterische Möglichkeiten.</p>
    <p><strong>Schreibakademie: </strong></p> <p>In einem kreativen Prozess werden die TeilnehmerInnen von erfolgreichen AutorInnen aus der Region begleitet. Gespräche und kreative Übungen regen das schriftstellerische Potential an und gemeinsam mit Gleichgesinnten kann der Wortschatz entwickelt werden. Die SchülerInnen erleben das eigene literarische Potential und packen innere Bilder, Farben, wilde Gedanken und starke Gefühle in Wörter und Sätze und teilen sie der Welt mit.</p> <p><strong>Schauspielakademie: </strong></p> <p>In der Schauspielakademie kann mit Körper, Stimme und Fantasie die darstellerische Kreativität erforscht werden. Unter Anleitung von professionellen KünstlerInnen können die SchülerInnen Bühnenluft schnuppern und ihr schauspielerisches Talent entfalten. Ihnen wird gezeigt wie mit Körpereinsatz gespielt und mit Sprache, Gestik und Mimik erzählt werden kann.</p>
    <p><strong>Schauspielakademie in Gebärdensprache:</strong></p>
    <p>Der Vortragende Juho Saarinen ist gehörlos geboren und verwendet die Gebärdensprache zur Kommunikation. Die Unterhaltung mit gehörlosen Menschen liegt ihm sehr, er gibt Theaterunterricht, macht Regie, Tanzchoreographien und hält Filmworkshops. Die drei Bereiche dieses Workshops umfassen das Theaterspielen<b>, </b>die Arbeit mit der Fotokamera, und der Film.</p>
    <p><strong>Musicalakademie: </strong></p>
    <p>Mamma Mia – hier können die SchülerInnen ihre Talente erforschen und lernen, was es heißt, gleichzeitig zu singen und zu tanzen. Sie erwerben körperliche Fitness, machen Erfahrungen im Solo- und Chorgesang sowie Tanz und lernen eine Figur in einer Geschichte zu spielen. Immer dabei sind professionelle MusicaldarstellerInnen, die die Lehrgänge leiten und mit Rat und Tat zur Seite stehen.</p>
    <p><a href="http://noe-kreativakademie.at/de/anmeldung" target="_blank" rel="noopener">Anmeldeformular</a> für die Kunstschule</p> <p>&nbsp;</p>
  </div>
</div>

</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
