{% extends "templates/base.html" %}

{% load static %}
{% load i18n static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="title" content="Gitarrenunterricht in St. Pölten | Gitarrenlehrer in der Landeshauptstadt">
<meta name="description" content="Unser Gitarrenunterricht in St. Pölten wird von unserem Gitarrenlehrer Simon Cremer direkt in der Innenstadt von St. Pölten angeboten.">

<!-- Social Media Meta --->
<meta property="og:title" content="Gitarrenunterricht in St. Pölten | Gitarrenlehrer in der Landeshauptstadt">
<meta property="og:description" content="Unser Gitarrenunterricht in St. Pölten wird von unserem Gitarrenlehrer Simon Cremer direkt in der Innenstadt von St. Pölten angeboten.">
<meta property="og:image" content="static/media/thumbnail/facebook/teaching_guitar.jpg">
<meta property="og:url" content="https://blessond.com/gitarrenunterricht">

<meta name="twitter:title" content="Gitarrenunterricht in St. Pölten | Gitarrenlehrer in der Landeshauptstadt">
<meta name="twitter:description" content="Unser Gitarrenunterricht in St. Pölten wird von unserem Gitarrenlehrer Simon Cremer direkt in der Innenstadt von St. Pölten angeboten.">
<meta name="twitter:image" content="static/media/thumbnail/twitter/teaching_guitar.jpg">
<meta name="twitter:card" content="summary_large_image">


{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Bildungsangebot Kunstschule</h1>
    <p>In Kooperation mit der Niederösterreichischen Kreativakademie des Landes Niederösterreich und des Magistrates der Landeshauptstadt St. Pölten bietet die Musik- und Kunstschule der Landeshauptstadt St. Pölten seit Oktober 2015 neun neue Kreativakademien:</p>
    <p><a target="_blank" href="https://www.mkmnoe.at/angebote-fuer-kinder-jugendliche/kreativakademie/anmeldung">Anmeldung Kunstschule</a></p>
  </div>
</div>

</div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}
