{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">

<style media="screen">
  #user-event-container a:hover .cross_st0{
    stroke: black;
  }
</style>
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/banner/events_banner.jpg" alt="">
<img id="mbimg" src="/static/media/banner/mobile/events_banner.jpg" alt="">

{% endblock %}

{% block body %}

<div class="mbs">
  <div class="container">
  {% if user.is_authenticated %}
  <h1>Veranstaltungen</h1>
  {% for event in events %}
  <div id="user-event-container" class="event-container">
    <div id="user-event-cross-burger" class="event-cross-burger">
      <a href="?id={{ event.id }}">
        {% include "templates/svg/nav_bar_crossburger.html" %}
      </a>
      <span class="tooltiptext">Veranstaltung löschen</span>
    </div>
    <div class="mks-event-date">
      <h3>{{ event.get_date_presentation }}</h3>
    </div>
    <div class="mks-event-title">
      <h3>{{ event.name }}</h3>
    </div>
    <div class="mks-event-time">
      <p>{{ event.get_time_presentation }}</p>
    </div>
    <div class="mks-event-venue">
      <p>{{ event.venue }}</p>
    </div>
  </div>
  {% endfor %}
  <h2>Veranstaltung erstellen</h2>

  <form id="event_form_post" method="post">
    {% csrf_token %}
    <p>Eventname*</p>
    <p>{{ form.name }}</p>
    {{ form.name.errors }}
    <p>Ort</p>
    <p>{{ form.venue }}</p>
    {{ form.venue.errors }}
    <p>Datum*</p>
    <p>{{ form.date }}</p>
    {{ form.date.errors }}
    <p style="font-size: 18px;margin-bottom: 24px;">(Format: JJJJ-MM-TT)</p>
    <p>Beginnzeit*</p>
    <p>{{ form.time }}</p>
    {{ form.time.errors }}
    <p style="font-size: 18px;margin-bottom: 24px;">(Format: HH:MM)</p>
    </div>
    <div class="form-actions">
      <a href="#">
      <button type="submit">Speichern</button>
      </a>
    </div>
  </form>

  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
  {% endif %}
</div>

{% endblock %}


{% block footer %}
{% endblock %}
