{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/media/banner/home_banner.jpg" alt="">
{% endblock %}

{% block body %}

<div class="mbs">
  <div class="container">
  {% if user.is_authenticated %}
  <p>Willkommen, {{ user }}!</p>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a>
  {% endif %}
  <nav class="prices-nav-bar">
    <h2>
    <a href="{% url 'event_managing_view'%}">Veranstaltungen</a>
    </h2>
  </nav>
  </div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}
